In [ ]:
from numerizer import numerize as rev_numerize
from numerize.numerize import numerize
# import locale
# locale.setlocale(locale.LC_ALL, 'en_US')  # Use '' for auto, or force e.g. to 'en_US.UTF-8'

In [ ]:
fl = numerize(2460000000)
print(fl)

In [ ]:
# cur_str = '$2.46T'
cur_str = '$2.46 Trillion'

num_strs = ['thousand', 'million', 'billion', 'trillion']
for x in num_strs:
    if x in cur_str.lower():
        str_num_1 = cur_str.lower().replace(x, '').replace(',','').replace('$','')
# str_num_1 = [cur_str.replace(x, '') for x in num_strs if x in cur_str.lower()]
print(str_num_1)
if str_num_1 == cur_str:
    str_num_1 = cur_str.replace('M', '').replace('B', '').replace('T', '').replace(',','').replace('$','')
print (str_num_1)
if 'm' in cur_str.lower():
    fl_num = float(str_num_1) * 1000000
elif 'b' in cur_str.lower():
    fl_num = float(str_num_1) * 1000000000
elif 'thousand' in cur_str.lower():
    fl_num = float(str_num_1) * 1000
elif ('T' in cur_str) or ('trillion' in cur_str.lower()):
    fl_num = float(str_num_1) * 1000000000000
print ("${0:,.2f}".format(fl_num))

In [ ]:
cur_fl = '$' + numerize(fl_num, 2)
print (cur_fl)

In [ ]:
type(cur_fl)

In [ ]:
def curr_str_to_float(cur_str, symbol='$'):
    '''Convert a currency string-formatted number into a float.'''

    num_strs = ['thousand', 'million', 'billion', 'trillion']
    for x in num_strs:
        if x in cur_str.lower():
            str_num_1 = cur_str.lower().replace(x, '').replace(',','').replace(symbol,'')
            # str_num_1 = [cur_str.replace(x, '') for x in num_strs if x in cur_str.lower()]
            if str_num_1 == cur_str:
                str_num_1 = cur_str.replace('M', '').replace('B', '').replace('T', '').replace(',','').replace(symbol,'')
            if 'm' in cur_str.lower():
                fl_num = float(str_num_1) * 1000000
            elif 'b' in cur_str.lower():
                fl_num = float(str_num_1) * 1000000000
            elif 'thousand' in cur_str.lower():
                fl_num = float(str_num_1) * 1000
            elif ('T' in cur_str) or ('trillion' in cur_str.lower()):
                fl_num = float(str_num_1) * 1000000000000
            # print ("${0:,.2f}".format(fl_num))
        else:
            fl_num = cur_str
    return fl_num

In [ ]:
cur_str = '2.46 Trillion'

fl_num = curr_str_to_float(cur_str, symbol='$')
print ("{0:,.2f}".format(fl_num))

In [ ]:
import pandas as pd

In [ ]:
fx_codes = pd.read_csv('csv_files/ISO_4217_FX_Codes.csv')
fx_codes

In [ ]:
# fx_codes['Entity'][:270] = fx_codes['Entity'][:270].str.lower().str.title()
# fx_codes['Entity'][:270] = fx_codes['Entity'][:270].str.replace('Of', 'of').str.replace('And ', 'and ')
# fx_codes

In [ ]:
# fx_codes.tail(20)
# fx_codes = fx_codes.drop(columns='Unnamed: 0')

In [ ]:
# fx_codes.to_csv('csv_files/ISO_4217_FX_Codes.csv', index=False)

In [ ]:
fx_codes.tail(40)

In [ ]:
country = 'United States'

entity = fx_codes.loc[fx_codes['Entity'].str.contains(country, regex=False)]
entity

In [ ]:
for index, row in entity.iterrows():
    # print (index)
    new_currency = entity['Currency'][index]
    print (new_currency)
    new_ticker = entity['Ticker'][index]
    print (new_ticker)
    ISO_4217 = entity['ISO_4217'][index]
    print (ISO_4217)
    minor_unit = entity['Minor unit'][index]
    print (minor_unit)
    fund = entity['Fund'][index]
    print (fund)
    description = entity['Description'][index]
    print (description)

In [249]:
countries = pd.read_csv('csv_files/All_countries.csv')
countries.head()

          Country ISO_3166
0     Afghanistan       AF
1   Åland Islands       AX
2         Albania       AL
3         Algeria       DZ
4  American Samoa       AS

In [54]:
africa = pd.read_csv('csv_files/Africa.csv')
africa.head()

        Country
0       Algeria
1        Angola
2         Benin
3      Botswana
4  Burkina Faso

In [57]:
asia = pd.read_csv('csv_files/Asia.csv')
asia.head()

       Country
0  Afghanistan
1      Armenia
2   Azerbaijan
3      Bahrain
4   Bangladesh

In [58]:
europe = pd.read_csv('csv_files/Europe.csv')
europe.head()

      Country
0     Albania
1     Andorra
2     Armenia
3     Austria
4  Azerbaijan

In [59]:
north_america = pd.read_csv('csv_files/North_America.csv')
north_america.head()

               Country
0  Antigua and Barbuda
1              Bahamas
2             Barbados
3               Belize
4               Canada

In [67]:
oceania = pd.read_csv('csv_files/Oceania.csv')
oceania.head()

            Country
0         Australia
1              Fiji
2          Kiribati
3  Marshall Islands
4        Micronesia

In [61]:
south_america = pd.read_csv('csv_files/South_America.csv')
south_america.head()

     Country
0  Argentina
1    Bolivia
2     Brazil
3      Chile
4   Colombia

In [77]:
North_American_territories = pd.read_csv('csv_files/North_American_territories.csv')
North_American_territories.head()

                Territory         Country
0                Anguilla  United Kingdom
1                   Aruba     Netherlands
2                 Bermuda  United Kingdom
3                 Bonaire     Netherlands
4  British Virgin Islands  United Kingdom

In [78]:
Oceania_territories = pd.read_csv('csv_files/Oceania_territories.csv')
Oceania_territories.head()

          Territory                   Country
0    American Samoa  United States of America
1      Cook Islands               New Zealand
2  French Polynesia                    France
3              Guam  United States of America
4     New Caledonia                    France

In [79]:
South_American_territories = pd.read_csv('csv_files/South_American_territories.csv')
South_American_territories.head()

                                      Territory         Country
0                              Falkland Islands  United Kingdom
1                                 French Guinea          France
2  South Georgia and the South Sandwich Islands  United Kingdom

In [62]:
import numpy as np

In [73]:
countries['Continent'] = np.where(countries['Country'].isin(africa['Country']), 'Africa', '')
countries['Continent'] = np.where(countries['Country'].isin(asia['Country']), 'Asia', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(europe['Country']), 'Europe', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(north_america['Country']), 'North America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(south_america['Country']), 'South America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(North_American_territories['Territory']), 'North America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(South_American_territories['Territory']), 'South America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(Oceania_territories['Territory']), 'Oceania', countries['Continent'])
countries

               Country ISO_3166 Continent
0          Afghanistan       AF      Asia
1        Åland Islands       AX
2              Albania       AL    Europe
3              Algeria       DZ    Africa
4       American Samoa       AS   Oceania
..                 ...      ...       ...
244  Wallis and Futuna       WF   Oceania
245     Western Sahara       EH
246              Yemen       YE      Asia
247             Zambia       ZM    Africa
248           Zimbabwe       ZW    Africa

[249 rows x 3 columns]

In [74]:
countries['Continent'].value_counts()

                 74
Africa           47
Europe           45
Asia             33
North America    30
Oceania          10
South America    10
Name: Continent, dtype: int64

In [119]:
# countries.to_csv('csv_files/Country_data.csv', index=False)

In [250]:
countries = pd.read_csv('csv_files/Country_data.csv')
countries.head()

          Country ISO_3166 Continent  Territory Territory_of Region Econ_Group
0     Afghanistan       AF      Asia      False          NaN   EMEA        NaN
1   Åland Islands       AX    Europe      False          NaN   EMEA        NaN
2         Albania       AL    Europe      False          NaN   EMEA        NaN
3         Algeria       DZ    Africa      False          NaN   EMEA        NaN
4  American Samoa       AS   Oceania       True       France   APAC        NaN

In [97]:
for index, row in North_American_territories.iterrows():
    countries['Territory'] = np.where(countries['Country'].str.contains(North_American_territories['Territory'][index]), True, False)
    countries['Territory_of'] = np.where(countries['Country'].str.contains(North_American_territories['Territory'][index]), North_American_territories['Country'][index], '')
countries['Territory'] = np.where(countries['Country'].isin(North_American_territories['Territory']), True, False)
countries['Territory_of'] = np.where(countries['Country'].isin(North_American_territories['Territory']), North_American_territories['Country'][index], countries['Territory_of'])

countries['Territory'].value_counts()

False    241
True       8
Name: Territory, dtype: int64

In [98]:
for index, row in South_American_territories.iterrows():
    countries['Territory'] = np.where(countries['Country'].str.contains(South_American_territories['Territory'][index]), True, countries['Territory'])
    countries['Territory_of'] = np.where(countries['Country'].str.contains(South_American_territories['Territory'][index]), South_American_territories['Country'][index], '')
countries['Territory'] = np.where(countries['Country'].isin(South_American_territories['Territory']), True, countries['Territory'])
countries['Territory_of'] = np.where(countries['Country'].isin(South_American_territories['Territory']), South_American_territories['Country'][index], countries['Territory_of'])

countries['Territory'].value_counts()

False    239
True      10
Name: Territory, dtype: int64

In [99]:
for index, row in Oceania_territories.iterrows():
    countries['Territory'] = np.where(countries['Country'].str.contains(Oceania_territories['Territory'][index]), True, countries['Territory'])
    countries['Territory_of'] = np.where(countries['Country'].str.contains(Oceania_territories['Territory'][index]), Oceania_territories['Country'][index], '')
countries['Territory'] = np.where(countries['Country'].isin(Oceania_territories['Territory']), True, countries['Territory'])
countries['Territory_of'] = np.where(countries['Country'].isin(Oceania_territories['Territory']), Oceania_territories['Country'][index], countries['Territory_of'])

countries['Territory'].value_counts()

False    229
True      20
Name: Territory, dtype: int64

In [100]:
countries

               Country ISO_3166 Continent  Territory Territory_of
0          Afghanistan       AF      Asia      False
1        Åland Islands       AX    Europe      False
2              Albania       AL    Europe      False
3              Algeria       DZ    Africa      False
4       American Samoa       AS   Oceania       True       France
..                 ...      ...       ...        ...          ...
244  Wallis and Futuna       WF   Oceania       True       France
245     Western Sahara       EH    Africa      False
246              Yemen       YE      Asia      False
247             Zambia       ZM    Africa      False
248           Zimbabwe       ZW    Africa      False

[249 rows x 5 columns]

In [101]:
regions = pd.read_csv('csv_files/regions.csv')
regions

               Country ISO_3166 Region
0          Afghanistan       AF   EMEA
1        Åland Islands       AX   EMEA
2              Albania       AL   EMEA
3              Algeria       DZ   EMEA
4       American Samoa       AS   APAC
..                 ...      ...    ...
244  Wallis and Futuna       WF   APAC
245     Western Sahara       EH   EMEA
246              Yemen       YE   EMEA
247             Zambia       ZM   EMEA
248           Zimbabwe       ZW   EMEA

[249 rows x 3 columns]

In [102]:
countries['Region'] = np.where(countries['ISO_3166'].isin(regions['ISO_3166']), regions['Region'], '')
countries
# countries['Region'].value_counts()
# countries.loc[countries['Region'] == '']

               Country ISO_3166 Continent  Territory Territory_of Region
0          Afghanistan       AF      Asia      False                EMEA
1        Åland Islands       AX    Europe      False                EMEA
2              Albania       AL    Europe      False                EMEA
3              Algeria       DZ    Africa      False                EMEA
4       American Samoa       AS   Oceania       True       France   APAC
..                 ...      ...       ...        ...          ...    ...
244  Wallis and Futuna       WF   Oceania       True       France   APAC
245     Western Sahara       EH    Africa      False                EMEA
246              Yemen       YE      Asia      False                EMEA
247             Zambia       ZM    Africa      False                EMEA
248           Zimbabwe       ZW    Africa      False                EMEA

[249 rows x 6 columns]

In [123]:
eu = pd.read_csv('csv_files/EU.csv')
eu.head(8)

          Country
0         Austria
1         Belgium
2        Bulgaria
3         Croatia
4          Cyprus
5  Czech Republic
6         Denmark
7         Estonia

In [128]:
asean = pd.read_csv('csv_files/ASEAN.csv')
asean.head()

     Country
0     Brunei
1   Cambodia
2  Indonesia
3       Laos
4   Malaysia

In [109]:
g10 = pd.read_csv('csv_files/G10_countries.csv')
g10.head()

   Country
0  Belgium
1   Canada
2   France
3  Germany
4    Italy

In [218]:
g20 = pd.read_csv('csv_files/G20_countries.csv')
g20 = g20.drop_duplicates()
print (g20.count())
g20.head()

Country    43
dtype: int64

     Country
0  Argentina
1  Australia
2     Brazil
3     Canada
4      China

In [4]:
em = pd.read_csv('csv_files/EM_countries.csv')
em.head()

,IMF EM,BRICS & Next Eleven,FTSE EM,MSCI EM,S&P EM,EM Bond Index,Dow Jones EM,Russell EM,Columbia University EMGP,Cornell University EMI E20
0,Argentina,,,,,Argentina,,,Argentina,Argentina
1,Bangladesh,Bangladesh,,,,Bangladesh,,,,Bangladesh
2,Brazil,Brazil,Brazil,Brazil,Brazil,Brazil,Brazil,Brazil,Brazil,Brazil
3,Bulgaria,,,,,,,,,
4,Chile,,Chile,Chile,Chile,Chile,Chile,Chile,Chile,

In [251]:
countries = pd.read_csv('csv_files/Country_data.csv')
countries.head()

          Country ISO_3166 Continent  Territory Territory_of Region Econ_Group
0     Afghanistan       AF      Asia      False          NaN   EMEA        NaN
1   Åland Islands       AX    Europe      False          NaN   EMEA        NaN
2         Albania       AL    Europe      False          NaN   EMEA        NaN
3         Algeria       DZ    Africa      False          NaN   EMEA        NaN
4  American Samoa       AS   Oceania       True       France   APAC        NaN

In [252]:
for index, row in eu.iterrows():
    countries['Econ_Group'] = np.where(countries['Country'].str.contains(eu['Country'][index]), 'EU', '')

countries['Econ_Group'] = np.where(countries['Country'].isin(eu['Country']), 'EU', countries['Econ_Group'])
countries['Econ_Group'].value_counts()
# countries.loc[countries['Econ_Group'] == 'EU']

      222
EU     27
Name: Econ_Group, dtype: int64

In [253]:
for index, row in asean.iterrows():
    countries['Econ_Group'] = np.where(countries['Country'].str.contains(asean['Country'][index]), 'ASEAN', countries['Econ_Group'])

countries['Econ_Group'] = np.where(countries['Country'].isin(asean['Country']), 'ASEAN', countries['Econ_Group'])
print(countries['Econ_Group'].value_counts())
countries.loc[countries['Econ_Group'] == 'ASEAN']

         212
EU        27
ASEAN     10
Name: Econ_Group, dtype: int64

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group
33,Brunei Darussalam,BN,Asia,False,NaN,APAC,ASEAN
37,Cambodia,KH,Asia,False,NaN,APAC,ASEAN
103,Indonesia,ID,Asia,False,NaN,APAC,ASEAN
121,Laos,LA,Asia,False,NaN,APAC,ASEAN
134,Malaysia,MY,Asia,False,NaN,APAC,ASEAN
152,Myanmar (Burma),MM,Asia,False,NaN,APAC,ASEAN
174,Philippines,PH,Asia,False,NaN,APAC,ASEAN
199,Singapore,SG,Asia,False,NaN,APAC,ASEAN
220,Thailand,TH,Asia,False,NaN,APAC,ASEAN
241,Vietnam,VN,Asia,False,NaN,APAC,ASEAN

In [254]:
type(countries['Econ_Group'][10])

str

In [256]:
for index, row in g10.iterrows():
    countries['G10'] = np.where(countries['Country'].str.contains(g10['Country'][index]), True, False)

countries['G10'] = np.where(countries['Country'].isin(g10['Country']), True, countries['G10'])

countries['G10'] = np.where(countries['Country'].astype(str) == 'United States Minor Outlying Islands', False, countries['G10'])
print(countries['G10'].value_counts())
countries.loc[countries['G10'] == True]

False    238
True      11
Name: G10, dtype: int64

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group,G10
21,Belgium,BE,Europe,False,NaN,EMEA,EU,True
39,Canada,CA,North America,False,NaN,AMER,,True
75,France,FR,Europe,False,NaN,EMEA,EU,True
82,Germany,DE,Europe,False,NaN,EMEA,EU,True
109,Italy,IT,Europe,False,NaN,EMEA,EU,True
111,Japan,JP,Asia,False,NaN,APAC,,True
156,Netherlands,NL,Europe,False,NaN,EMEA,EU,True
214,Sweden,SE,Europe,False,NaN,EMEA,EU,True
215,Switzerland,CH,Europe,False,NaN,EMEA,,True
234,United Kingdom,GB,Europe,False,NaN,EMEA,,True
235,United States of America,US,North America,False,NaN,AMER,,True

In [257]:
for index, row in g20.iterrows():
    countries['G20'] = np.where(countries['Country'].str.contains(g20['Country'][index]), True, False)

countries['G20'] = np.where(countries['Country'].isin(g20['Country']), True, countries['G20'])

countries['G20'] = np.where(countries['Country'].astype(str) == 'United States Minor Outlying Islands', False, countries['G20'])
print(countries['G20'].value_counts())
# countries.loc[countries['G20'] == True]

False    206
True      43
Name: G20, dtype: int64

In [5]:
countries = pd.read_csv('csv_files/Country_data.csv')
countries = countries.iloc[:,:9]
countries

em = pd.read_csv('csv_files/EM_countries.csv')
em.tail()

em_categories = []
for col in em.columns:
    em_categories.append(col)
em_categories

for cat in em_categories:
    countries[cat] = False
    for index, value in em[cat].iteritems():
        for c_index, c_value in countries.iterrows():
            # countries['IMF EM_1'][c_index] = np.where(countries['Country'][c_index].__contains__(em['IMF EM'][index]), True, countries['IMF EM_1'][c_index])
            countries[cat][c_index] = np.where(countries['Country'][c_index].split(',')[0] in (em[cat][index]), True, countries[cat][c_index])

countries

['IMF EM',
 'BRICS & Next Eleven',
 'FTSE EM',
 'MSCI EM',
 'S&P EM',
 'EM Bond Index',
 'Dow Jones EM',
 'Russell EM',
 'Columbia University EMGP',
 'Cornell University EMI E20']

In [ ]:
countries.loc[countries['Country'] == 'Niger', 'BRICS & Next Eleven'] = countries.loc[countries['Country'] == 'Niger', 'BRICS & Next Eleven'].replace(True, False)
countries.loc[countries['Country'] == 'Niger', 'EM Bond Index'] = countries.loc[countries['Country'] == 'Niger', 'EM Bond Index'].replace(True, False)
countries.loc[countries['Country'] == 'Niger', 'Cornell University EMI E20'] = countries.loc[countries['Country'] == 'Niger', 'Cornell University EMI E20'].replace(True, False)

In [ ]:
for cat in em_categories:
    print(countries[cat].value_counts())
    countries.loc[countries[cat] == True]

for cat in em_categories:
    print(em[cat].replace(r'^\s*$', np.nan, regex=True).count())

In [ ]:
# countries.loc[countries['BRICS & Next Eleven'] == True]
# countries.loc[countries['EM Bond Index'] == True]
# countries.loc[countries['Cornell University EMI E20'] == True]

# countries.to_csv('csv_files/Country_data.csv', index=False)

In [157]:
# from ast import literal_eval
# literal_eval('[1.23, 2.34]')

[1.23, 2.34]

In [319]:
# countries.to_csv('csv_files/Country_data.csv', index=False)

In [2]:
import pandas as pd
import numpy as np

In [289]:
countries = pd.read_csv('csv_files/Country_data.csv')
countries.head()

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group,G10,G20,IMF EM,BRICS & Next Eleven,FTSE EM,MSCI EM,S&P EM,EM Bond Index,Dow Jones EM,Russell EM,Columbia University EMGP,Cornell University EMI E20
0,Afghanistan,AF,Asia,False,NaN,EMEA,NaN,False,False,False,False,False,False,False,False,False,False,False,False
1,Åland Islands,AX,Europe,False,NaN,EMEA,NaN,False,False,False,False,False,False,False,False,False,False,False,False
2,Albania,AL,Europe,False,NaN,EMEA,NaN,False,False,False,False,False,False,False,False,False,False,False,False
3,Algeria,DZ,Africa,False,NaN,EMEA,NaN,False,False,False,False,False,False,False,False,False,False,False,False
4,American Samoa,AS,Oceania,True,France,APAC,NaN,False,False,False,False,False,False,False,False,False,False,False,False

In [290]:
for i in ['G10', 'G20']:
    em_categories.append(i)
em_categories

['IMF EM',
 'BRICS & Next Eleven',
 'FTSE EM',
 'MSCI EM',
 'S&P EM',
 'EM Bond Index',
 'Dow Jones EM',
 'Russell EM',
 'Columbia University EMGP',
 'Cornell University EMI E20',
 'G10',
 'G20']

In [291]:
countries['Geopol_group'] = ""
for index, row in countries.iterrows():
    # countries['Geopol_group'][index] = []
    # for label, content in countries.items():
    for col in countries[em_categories]:
        colserObj = countries[col]
        countries[f'{col}_1'] = np.where(colserObj.values == True, col, '')

In [295]:
countries.iloc[100:,20:]

,IMF EM_1,BRICS & Next Eleven_1,FTSE EM_1,MSCI EM_1,S&P EM_1,EM Bond Index_1,Dow Jones EM_1,Russell EM_1,Columbia University EMGP_1,Cornell University EMI E20_1,G10_1,G20_1
100,IMF EM,,FTSE EM,MSCI EM,S&P EM,EM Bond Index,Dow Jones EM,Russell EM,Columbia University EMGP,,,G20
101,,,,,,,,,,,,
102,IMF EM,BRICS & Next Eleven,FTSE EM,MSCI EM,S&P EM,EM Bond Index,Dow Jones EM,Russell EM,Columbia University EMGP,Cornell University EMI E20,,G20
103,IMF EM,BRICS & Next Eleven,FTSE EM,MSCI EM,S&P EM,EM Bond Index,Dow Jones EM,Russell EM,,Cornell University EMI E20,,G20
104,,BRICS & Next Eleven,,,,,,,,Cornell University EMI E20,,
...,...,...,...,...,...,...,...,...,...,...,...,...
244,,,,,,,,,,,,
245,,,,,,,,,,,,
246,,,,,,,,,,,,
247,,,,,,,,,,,,
248,,,,,,,,,,,,

In [296]:
countries['Geopol_group'] = countries[countries.columns[20:]].apply(lambda x: ','.join(x.dropna().astype(str)), axis=1)
countries['Geopol_group']

0      ,,,,,,,,,,,
1      ,,,,,,,,,,,
2      ,,,,,,,,,,,
3      ,,,,,,,,,,,
4      ,,,,,,,,,,,
          ...
244    ,,,,,,,,,,,
245    ,,,,,,,,,,,
246    ,,,,,,,,,,,
247    ,,,,,,,,,,,
248    ,,,,,,,,,,,
Name: Geopol_group, Length: 249, dtype: object

In [297]:
em_categories_1 = []
for col in countries[em_categories]:
    em_categories_1.append(f'{col}_1')
em_categories_1

['IMF EM_1',
 'BRICS & Next Eleven_1',
 'FTSE EM_1',
 'MSCI EM_1',
 'S&P EM_1',
 'EM Bond Index_1',
 'Dow Jones EM_1',
 'Russell EM_1',
 'Columbia University EMGP_1',
 'Cornell University EMI E20_1',
 'G10_1',
 'G20_1']

In [298]:
countries_1 = countries.drop(columns=em_categories).drop(columns=em_categories_1)
countries_1

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group,Geopol_group
0,Afghanistan,AF,Asia,False,NaN,EMEA,NaN,",,,,,,,,,,,"
1,Åland Islands,AX,Europe,False,NaN,EMEA,NaN,",,,,,,,,,,,"
2,Albania,AL,Europe,False,NaN,EMEA,NaN,",,,,,,,,,,,"
3,Algeria,DZ,Africa,False,NaN,EMEA,NaN,",,,,,,,,,,,"
4,American Samoa,AS,Oceania,True,France,APAC,NaN,",,,,,,,,,,,"
...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,Oceania,True,France,APAC,NaN,",,,,,,,,,,,"
245,Western Sahara,EH,Africa,False,NaN,EMEA,NaN,",,,,,,,,,,,"
246,Yemen,YE,Asia,False,NaN,EMEA,NaN,",,,,,,,,,,,"
247,Zambia,ZM,Africa,False,NaN,EMEA,NaN,",,,,,,,,,,,"
248,Zimbabwe,ZW,Africa,False,NaN,EMEA,NaN,",,,,,,,,,,,"

In [299]:
countries_1['Geopol_group'] = countries_1['Geopol_group'].str.strip(',').str.replace(',,,,,,,', ',').str.replace(',,,,,,', ',').str.replace(',,,,,', ',').str.replace(',,,,', ',').str.replace(',,,', ',').str.replace(',,', ',')
countries_1

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group,Geopol_group
0,Afghanistan,AF,Asia,False,NaN,EMEA,NaN,
1,Åland Islands,AX,Europe,False,NaN,EMEA,NaN,
2,Albania,AL,Europe,False,NaN,EMEA,NaN,
3,Algeria,DZ,Africa,False,NaN,EMEA,NaN,
4,American Samoa,AS,Oceania,True,France,APAC,NaN,
...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,Oceania,True,France,APAC,NaN,
245,Western Sahara,EH,Africa,False,NaN,EMEA,NaN,
246,Yemen,YE,Asia,False,NaN,EMEA,NaN,
247,Zambia,ZM,Africa,False,NaN,EMEA,NaN,
248,Zimbabwe,ZW,Africa,False,NaN,EMEA,NaN,

In [301]:
# countries_1['Geopol_group'].value_counts()

In [307]:
# countries_1.to_csv('csv_files/country_dataset.csv', index=False)

## Code for Pipeline

In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz

In [2]:
countries_df = pd.read_csv('csv_files/country_dataset.csv')

In [55]:
# country = 'U.S.'
# country = 'United States'
# country = 'Gurmeny'
country = 'Russia'
# country_index = pd.Series(dtype='object')
country_row = pd.Series(dtype='object')
country_str = country.replace('.', '')
if len(country_str) < 5:
    country_row = countries_df.loc[countries_df['ISO_3166'].astype(str) == (country_str)]
if len(country_row) == 0:
    country_row = countries_df.loc[countries_df['Country'].str.contains(country)]
    country_row

country_row

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group,Geopol_group
182,Russia,RU,Europe,False,NaN,EMEA,NaN,"IMF EM,BRICS & Next Eleven,FTSE EM,MSCI EM,S&P..."

In [56]:
# https://www.datacamp.com/community/tutorials/fuzzy-string-python

if len(country_row) > 1:
    # Ratios = process.extract(country,country_row['Country'])
    # print(Ratios)
    highest = process.extractOne(country,country_row['Country'])
    # print(highest)
    country_row = country_row.loc[country_row['Country'].str.contains(highest[0])]
country_row

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group,Geopol_group
182,Russia,RU,Europe,False,NaN,EMEA,NaN,"IMF EM,BRICS & Next Eleven,FTSE EM,MSCI EM,S&P..."

In [57]:
if len(country_row) == 0:
    # highest = process.extractOne(country,countries_df['Country']) # scorer=fuzz.token_set_ratio
    highest = process.extractOne(country,countries_df['Country'], scorer=fuzz.token_set_ratio)
    print("WARNING : Using fuzzy logic to predict country:", highest[0])
    country_row = countries_df.loc[countries_df['Country'].str.contains(highest[0])]
country_row

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group,Geopol_group
182,Russia,RU,Europe,False,NaN,EMEA,NaN,"IMF EM,BRICS & Next Eleven,FTSE EM,MSCI EM,S&P..."

In [58]:
ISO_3166 = country_row['ISO_3166'].values[0]
ISO_3166
Continent = country_row['Continent'].values[0]
Continent
Territory = country_row['Territory'].values[0]
Territory
Territory_of = country_row['Territory_of'].values[0]
Territory_of
Region = country_row['Region'].values[0]
Region
Econ_Group = country_row['Econ_Group'].values[0]
Econ_Group
Geopol_group = country_row['Geopol_group'].values[0]
Geopol_group

'IMF EM,BRICS & Next Eleven,FTSE EM,MSCI EM,S&P EM,EM Bond Index,Dow Jones EM,Russell EM,Columbia University EMGP,Cornell University EMI E20,G20'

## Industry Data

In [226]:
NAICS= pd.read_excel('csv_files/2017_NAICS_Descriptions.xlsx', dtype={'Description': int, 'Title': str, 'Description': str, 'Sector': str})
NAICS

,Code,Title,Description,Sector
0,11,"Agriculture, Forestry, Fishing and Hunting","The Sector as a Whole\n\nThe Agriculture, Fore...","Agriculture, Forestry, Fishing and Hunting"
1,111,Crop ProductionT,Industries in the Crop Production subsector gr...,"Agriculture, Forestry, Fishing and Hunting"
2,1111,Oilseed and Grain FarmingT,This industry group comprises establishments p...,"Agriculture, Forestry, Fishing and Hunting"
3,11111,Soybean FarmingT,See industry description for 111110.,"Agriculture, Forestry, Fishing and Hunting"
4,111110,Soybean Farming,This industry comprises establishments primari...,"Agriculture, Forestry, Fishing and Hunting"
...,...,...,...,...
2191,9281,National Security and International Affairs,NaN,Public Administration
2192,92811,National Security,See industry description for 928110.,Public Administration
2193,928110,National Security,This industry comprises government establishme...,Public Administration
2194,92812,International Affairs,See industry description for 928120.,Public Administration
2195,928120,International Affairs,This industry comprises establishments of U.S....,Public Administration

In [227]:
NAICS['Title'] = NAICS['Title'].str.rstrip().str.rstrip('T')
NAICS

,Code,Title,Description,Sector
0,11,"Agriculture, Forestry, Fishing and Hunting","The Sector as a Whole\n\nThe Agriculture, Fore...","Agriculture, Forestry, Fishing and Hunting"
1,111,Crop Production,Industries in the Crop Production subsector gr...,"Agriculture, Forestry, Fishing and Hunting"
2,1111,Oilseed and Grain Farming,This industry group comprises establishments p...,"Agriculture, Forestry, Fishing and Hunting"
3,11111,Soybean Farming,See industry description for 111110.,"Agriculture, Forestry, Fishing and Hunting"
4,111110,Soybean Farming,This industry comprises establishments primari...,"Agriculture, Forestry, Fishing and Hunting"
...,...,...,...,...
2191,9281,National Security and International Affairs,NaN,Public Administration
2192,92811,National Security,See industry description for 928110.,Public Administration
2193,928110,National Security,This industry comprises government establishme...,Public Administration
2194,92812,International Affairs,See industry description for 928120.,Public Administration
2195,928120,International Affairs,This industry comprises establishments of U.S....,Public Administration

In [228]:
sectors = NAICS.loc[NAICS['Description'].str.strip().str.startswith('The Sector as a Whole', na=False)]
sectors = sectors.drop(columns='Sector')
sectors['Description'] = sectors['Description'].str.replace('The Sector as a Whole\n\n', '').str.strip()
sectors

,Code,Title,Description
0,11,"Agriculture, Forestry, Fishing and Hunting","The Agriculture, Forestry, Fishing and Hunting..."
131,21,"Mining, Quarrying, and Oil and Gas Extraction","The Mining, Quarrying, and Oil and Gas Extract..."
179,22,Utilities,The Utilities sector comprises establishments ...
204,23,Construction,The Construction sector comprises establishmen...
277,31-33,Manufacturing,The Manufacturing sector comprises establishme...
925,42,Wholesale Trade,The Wholesale Trade sector comprises establish...
1090,44-45,Retail Trade,The Retail Trade sector comprises establishmen...
1253,48-49,Transportation and Warehousing,The Transportation and Warehousing sector incl...
1393,51,Information,The Information sector comprises establishment...
1467,52,Finance and Insurance,The Finance and Insurance sector comprises est...
1556,53,Real Estate and Rental and Leasing,The Real Estate and Rental and Leasing sector ...
1609,54,"Professional, Scientific, and Technical Services","The Professional, Scientific, and Technical Se..."
1704,55,Management of Companies and Enterprises,The Management of Companies and Enterprises se...
1711,56,Administrative and Support and Waste Managemen...,The Administrative and Support and Waste Manag...
1798,61,Educational Services,The Educational Services sector comprises esta...
1836,62,Health Care and Social Assistance,The Health Care and Social Assistance sector c...
1928,71,"Arts, Entertainment, and Recreation","The Arts, Entertainment, and Recreation sector..."
1989,72,Accommodation and Food Services,The Accommodation and Food Services sector com...
2023,81,Other Services (except Public Administration),The Other Services (except Public Administrati...
2121,92,Public Administration,The Public Administration sector consists of e...

In [229]:
# sectors.to_csv('csv_files/NAICS17_sectors.csv', index=False)

In [230]:
NAICS_desc = pd.read_excel('csv_files/2017_NAICS_Index_File.xlsx')
NAICS_desc

      NAICS17                             INDEX ITEM DESCRIPTION
0      111110         Soybean farming, field and seed production
1      111120          Canola farming, field and seed production
2      111120        Flaxseed farming, field and seed production
3      111120    Mustard seed farming, field and seed production
4      111120  Oilseed farming (except soybean), field and se...
...       ...                                                ...
20077  ******                                Stores -- see type
20078  ******     Tailors -- see specific apparel manufacturing
20079  ******                   Therapists' offices -- see type
20080  ******                        Transportation -- see mode
20081  ******                  Wholesale -- see type of product

[20082 rows x 2 columns]

In [231]:
no_descs = NAICS.loc[NAICS['Description'].str.strip().str.startswith('See industry description for', na=False)].copy()
no_descs

,Code,Title,Description,Sector
3,11111,Soybean Farming,See industry description for 111110.,"Agriculture, Forestry, Fishing and Hunting"
5,11112,Oilseed (except Soybean) Farming,See industry description for 111120.,"Agriculture, Forestry, Fishing and Hunting"
7,11113,Dry Pea and Bean Farming,See industry description for 111130.,"Agriculture, Forestry, Fishing and Hunting"
9,11114,Wheat Farming,See industry description for 111140.,"Agriculture, Forestry, Fishing and Hunting"
11,11115,Corn Farming,See industry description for 111150.,"Agriculture, Forestry, Fishing and Hunting"
...,...,...,...,...
2182,92614,Regulation of Agricultural Marketing and Commo...,See industry description for 926140.,Public Administration
2184,92615,"Regulation, Licensing, and Inspection of Misce...",See industry description for 926150.,Public Administration
2188,92711,Space Research and Technology,See industry description for 927110.,Public Administration
2192,92811,National Security,See industry description for 928110.,Public Administration
2194,92812,International Affairs,See industry description for 928120.,Public Administration

In [232]:
import re

In [233]:
no_descs['desc_code'] = no_descs['Description'].astype(str).apply(lambda x: re.findall(r'\d+', x))
no_descs['desc_code'] = no_descs['desc_code'].str[0]
no_descs

,Code,Title,Description,Sector,desc_code
3,11111,Soybean Farming,See industry description for 111110.,"Agriculture, Forestry, Fishing and Hunting",111110
5,11112,Oilseed (except Soybean) Farming,See industry description for 111120.,"Agriculture, Forestry, Fishing and Hunting",111120
7,11113,Dry Pea and Bean Farming,See industry description for 111130.,"Agriculture, Forestry, Fishing and Hunting",111130
9,11114,Wheat Farming,See industry description for 111140.,"Agriculture, Forestry, Fishing and Hunting",111140
11,11115,Corn Farming,See industry description for 111150.,"Agriculture, Forestry, Fishing and Hunting",111150
...,...,...,...,...,...
2182,92614,Regulation of Agricultural Marketing and Commo...,See industry description for 926140.,Public Administration,926140
2184,92615,"Regulation, Licensing, and Inspection of Misce...",See industry description for 926150.,Public Administration,926150
2188,92711,Space Research and Technology,See industry description for 927110.,Public Administration,927110
2192,92811,National Security,See industry description for 928110.,Public Administration,928110
2194,92812,International Affairs,See industry description for 928120.,Public Administration,928120

In [234]:
NAICS_desc = NAICS_desc.groupby(['NAICS17'])['INDEX ITEM DESCRIPTION'].apply(','.join).reset_index()
NAICS_desc

     NAICS17                             INDEX ITEM DESCRIPTION
0     111110         Soybean farming, field and seed production
1     111120  Canola farming, field and seed production,Flax...
2     111130  Bean farming, dry, field and seed production,C...
3     111140           Wheat farming, field and seed production
4     111150  Corn farming (except sweet corn), field and se...
...      ...                                                ...
1051  926150  Alcoholic beverage control boards,Banking regu...
1052  927110  National Aeronautics and Space Administration,...
1053  928110  Air Force,Air traffic control, military,Armed ...
1054  928120  Consulates,Diplomatic services,Economic develo...
1055  ******  Cards, publishing -- see specific product ,Cli...

[1056 rows x 2 columns]

In [235]:
NAICS_desc = NAICS_desc.loc[NAICS_desc['NAICS17'] != '******']
NAICS_desc = NAICS_desc.rename(columns= {'NAICS17': 'desc_code'})
NAICS_desc['INDEX ITEM DESCRIPTION'] = NAICS_desc['INDEX ITEM DESCRIPTION'].astype(str)
NAICS_desc.tail()

     desc_code                             INDEX ITEM DESCRIPTION
1050    926140  Agricultural cooperative extension program adm...
1051    926150  Alcoholic beverage control boards,Banking regu...
1052    927110  National Aeronautics and Space Administration,...
1053    928110  Air Force,Air traffic control, military,Armed ...
1054    928120  Consulates,Diplomatic services,Economic develo...

In [236]:
no_descs.reset_index(inplace=True, drop=True)
# no_descs = no_descs.drop(columns = ['level_0', 'index'])
no_descs

,Code,Title,Description,Sector,desc_code
0,11111,Soybean Farming,See industry description for 111110.,"Agriculture, Forestry, Fishing and Hunting",111110
1,11112,Oilseed (except Soybean) Farming,See industry description for 111120.,"Agriculture, Forestry, Fishing and Hunting",111120
2,11113,Dry Pea and Bean Farming,See industry description for 111130.,"Agriculture, Forestry, Fishing and Hunting",111130
3,11114,Wheat Farming,See industry description for 111140.,"Agriculture, Forestry, Fishing and Hunting",111140
4,11115,Corn Farming,See industry description for 111150.,"Agriculture, Forestry, Fishing and Hunting",111150
...,...,...,...,...,...
525,92614,Regulation of Agricultural Marketing and Commo...,See industry description for 926140.,Public Administration,926140
526,92615,"Regulation, Licensing, and Inspection of Misce...",See industry description for 926150.,Public Administration,926150
527,92711,Space Research and Technology,See industry description for 927110.,Public Administration,927110
528,92811,National Security,See industry description for 928110.,Public Administration,928110
529,92812,International Affairs,See industry description for 928120.,Public Administration,928120

In [237]:
no_descs['desc_code'] = no_descs['desc_code'].astype(int)

In [238]:
merged_df = no_descs.merge(NAICS_desc, how='left', left_on='desc_code', right_on='desc_code')

In [239]:
merged_df

,Code,Title,Description,Sector,desc_code,INDEX ITEM DESCRIPTION
0,11111,Soybean Farming,See industry description for 111110.,"Agriculture, Forestry, Fishing and Hunting",111110,"Soybean farming, field and seed production"
1,11112,Oilseed (except Soybean) Farming,See industry description for 111120.,"Agriculture, Forestry, Fishing and Hunting",111120,"Canola farming, field and seed production,Flax..."
2,11113,Dry Pea and Bean Farming,See industry description for 111130.,"Agriculture, Forestry, Fishing and Hunting",111130,"Bean farming, dry, field and seed production,C..."
3,11114,Wheat Farming,See industry description for 111140.,"Agriculture, Forestry, Fishing and Hunting",111140,"Wheat farming, field and seed production"
4,11115,Corn Farming,See industry description for 111150.,"Agriculture, Forestry, Fishing and Hunting",111150,"Corn farming (except sweet corn), field and se..."
...,...,...,...,...,...,...
525,92614,Regulation of Agricultural Marketing and Commo...,See industry description for 926140.,Public Administration,926140,Agricultural cooperative extension program adm...
526,92615,"Regulation, Licensing, and Inspection of Misce...",See industry description for 926150.,Public Administration,926150,"Alcoholic beverage control boards,Banking regu..."
527,92711,Space Research and Technology,See industry description for 927110.,Public Administration,927110,"National Aeronautics and Space Administration,..."
528,92811,National Security,See industry description for 928110.,Public Administration,928110,"Air Force,Air traffic control, military,Armed ..."
529,92812,International Affairs,See industry description for 928120.,Public Administration,928120,"Consulates,Diplomatic services,Economic develo..."

In [241]:
merged_df = merged_df.drop(columns='Description')
merged_df = merged_df.rename(columns={'INDEX ITEM DESCRIPTION': 'Description'})
merged_df

,Code,Title,Sector,desc_code,Description
0,11111,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",111110,"Soybean farming, field and seed production"
1,11112,Oilseed (except Soybean) Farming,"Agriculture, Forestry, Fishing and Hunting",111120,"Canola farming, field and seed production,Flax..."
2,11113,Dry Pea and Bean Farming,"Agriculture, Forestry, Fishing and Hunting",111130,"Bean farming, dry, field and seed production,C..."
3,11114,Wheat Farming,"Agriculture, Forestry, Fishing and Hunting",111140,"Wheat farming, field and seed production"
4,11115,Corn Farming,"Agriculture, Forestry, Fishing and Hunting",111150,"Corn farming (except sweet corn), field and se..."
...,...,...,...,...,...
525,92614,Regulation of Agricultural Marketing and Commo...,Public Administration,926140,Agricultural cooperative extension program adm...
526,92615,"Regulation, Licensing, and Inspection of Misce...",Public Administration,926150,"Alcoholic beverage control boards,Banking regu..."
527,92711,Space Research and Technology,Public Administration,927110,"National Aeronautics and Space Administration,..."
528,92811,National Security,Public Administration,928110,"Air Force,Air traffic control, military,Armed ..."
529,92812,International Affairs,Public Administration,928120,"Consulates,Diplomatic services,Economic develo..."

In [243]:
NAICS

,Code,Title,Description,Sector
0,11,"Agriculture, Forestry, Fishing and Hunting","The Sector as a Whole\n\nThe Agriculture, Fore...","Agriculture, Forestry, Fishing and Hunting"
1,111,Crop Production,Industries in the Crop Production subsector gr...,"Agriculture, Forestry, Fishing and Hunting"
2,1111,Oilseed and Grain Farming,This industry group comprises establishments p...,"Agriculture, Forestry, Fishing and Hunting"
3,11111,Soybean Farming,See industry description for 111110.,"Agriculture, Forestry, Fishing and Hunting"
4,111110,Soybean Farming,This industry comprises establishments primari...,"Agriculture, Forestry, Fishing and Hunting"
...,...,...,...,...
2191,9281,National Security and International Affairs,NaN,Public Administration
2192,92811,National Security,See industry description for 928110.,Public Administration
2193,928110,National Security,This industry comprises government establishme...,Public Administration
2194,92812,International Affairs,See industry description for 928120.,Public Administration
2195,928120,International Affairs,This industry comprises establishments of U.S....,Public Administration

In [242]:
industries = NAICS.loc[~NAICS['Description'].str.strip().str.startswith('The Sector as a Whole', na=False)]
industries

,Code,Title,Description,Sector
1,111,Crop Production,Industries in the Crop Production subsector gr...,"Agriculture, Forestry, Fishing and Hunting"
2,1111,Oilseed and Grain Farming,This industry group comprises establishments p...,"Agriculture, Forestry, Fishing and Hunting"
3,11111,Soybean Farming,See industry description for 111110.,"Agriculture, Forestry, Fishing and Hunting"
4,111110,Soybean Farming,This industry comprises establishments primari...,"Agriculture, Forestry, Fishing and Hunting"
5,11112,Oilseed (except Soybean) Farming,See industry description for 111120.,"Agriculture, Forestry, Fishing and Hunting"
...,...,...,...,...
2191,9281,National Security and International Affairs,NaN,Public Administration
2192,92811,National Security,See industry description for 928110.,Public Administration
2193,928110,National Security,This industry comprises government establishme...,Public Administration
2194,92812,International Affairs,See industry description for 928120.,Public Administration
2195,928120,International Affairs,This industry comprises establishments of U.S....,Public Administration

In [280]:
merged_industries = industries.merge(merged_df, how='left', left_on=['Code', 'Title', 'Sector'], right_on=['Code', 'Title', 'Sector'])
merged_industries

,Code,Title,Description_x,Sector,desc_code,Description_y
0,111,Crop Production,Industries in the Crop Production subsector gr...,"Agriculture, Forestry, Fishing and Hunting",NaN,NaN
1,1111,Oilseed and Grain Farming,This industry group comprises establishments p...,"Agriculture, Forestry, Fishing and Hunting",NaN,NaN
2,11111,Soybean Farming,See industry description for 111110.,"Agriculture, Forestry, Fishing and Hunting",111110,"Soybean farming, field and seed production"
3,111110,Soybean Farming,This industry comprises establishments primari...,"Agriculture, Forestry, Fishing and Hunting",NaN,NaN
4,11112,Oilseed (except Soybean) Farming,See industry description for 111120.,"Agriculture, Forestry, Fishing and Hunting",111120,"Canola farming, field and seed production,Flax..."
...,...,...,...,...,...,...
2171,9281,National Security and International Affairs,NaN,Public Administration,NaN,NaN
2172,92811,National Security,See industry description for 928110.,Public Administration,928110,"Air Force,Air traffic control, military,Armed ..."
2173,928110,National Security,This industry comprises government establishme...,Public Administration,NaN,NaN
2174,92812,International Affairs,See industry description for 928120.,Public Administration,928120,"Consulates,Diplomatic services,Economic develo..."
2175,928120,International Affairs,This industry comprises establishments of U.S....,Public Administration,NaN,NaN

In [281]:
print(type(merged_industries['Description_y'][5]))

<class 'float'>

In [286]:
merged_industries['Description'] = ""
for index, value in merged_industries['Description_y'].iteritems():
    merged_industries['Description'][index] = np.where(type(merged_industries['Description_y'][index]) is not type(float), merged_industries['Description_y'][index], merged_industries['Description_x'][index])
merged_industries

,Code,Title,Description_x,Sector,desc_code,Description_y,Description
0,111,Crop Production,Industries in the Crop Production subsector gr...,"Agriculture, Forestry, Fishing and Hunting",NaN,NaN,nan
1,1111,Oilseed and Grain Farming,This industry group comprises establishments p...,"Agriculture, Forestry, Fishing and Hunting",NaN,NaN,nan
2,11111,Soybean Farming,See industry description for 111110.,"Agriculture, Forestry, Fishing and Hunting",111110,"Soybean farming, field and seed production","Soybean farming, field and seed production"
3,111110,Soybean Farming,This industry comprises establishments primari...,"Agriculture, Forestry, Fishing and Hunting",NaN,NaN,nan
4,11112,Oilseed (except Soybean) Farming,See industry description for 111120.,"Agriculture, Forestry, Fishing and Hunting",111120,"Canola farming, field and seed production,Flax...","Canola farming, field and seed production,Flax..."
...,...,...,...,...,...,...,...
2171,9281,National Security and International Affairs,NaN,Public Administration,NaN,NaN,nan
2172,92811,National Security,See industry description for 928110.,Public Administration,928110,"Air Force,Air traffic control, military,Armed ...","Air Force,Air traffic control, military,Armed ..."
2173,928110,National Security,This industry comprises government establishme...,Public Administration,NaN,NaN,nan
2174,92812,International Affairs,See industry description for 928120.,Public Administration,928120,"Consulates,Diplomatic services,Economic develo...","Consulates,Diplomatic services,Economic develo..."
2175,928120,International Affairs,This industry comprises establishments of U.S....,Public Administration,NaN,NaN,nan

In [300]:
merged_industries['Description'][1]

array('nan', dtype='<U230')

In [301]:
for index, value in merged_industries['Description_y'].iteritems():
    merged_industries['Description'][index] = np.where(merged_industries['Description'][index] == 'nan', merged_industries['Description_x'][index], merged_industries['Description'][index])
merged_industries

,Code,Title,Description_x,Sector,desc_code,Description_y,Description
0,111,Crop Production,Industries in the Crop Production subsector gr...,"Agriculture, Forestry, Fishing and Hunting",NaN,NaN,Industries in the Crop Production subsector gr...
1,1111,Oilseed and Grain Farming,This industry group comprises establishments p...,"Agriculture, Forestry, Fishing and Hunting",NaN,NaN,This industry group comprises establishments p...
2,11111,Soybean Farming,See industry description for 111110.,"Agriculture, Forestry, Fishing and Hunting",111110,"Soybean farming, field and seed production","Soybean farming, field and seed production"
3,111110,Soybean Farming,This industry comprises establishments primari...,"Agriculture, Forestry, Fishing and Hunting",NaN,NaN,This industry comprises establishments primari...
4,11112,Oilseed (except Soybean) Farming,See industry description for 111120.,"Agriculture, Forestry, Fishing and Hunting",111120,"Canola farming, field and seed production,Flax...","Canola farming, field and seed production,Flax..."
...,...,...,...,...,...,...,...
2171,9281,National Security and International Affairs,NaN,Public Administration,NaN,NaN,nan
2172,92811,National Security,See industry description for 928110.,Public Administration,928110,"Air Force,Air traffic control, military,Armed ...","Air Force,Air traffic control, military,Armed ..."
2173,928110,National Security,This industry comprises government establishme...,Public Administration,NaN,NaN,This industry comprises government establishme...
2174,92812,International Affairs,See industry description for 928120.,Public Administration,928120,"Consulates,Diplomatic services,Economic develo...","Consulates,Diplomatic services,Economic develo..."
2175,928120,International Affairs,This industry comprises establishments of U.S....,Public Administration,NaN,NaN,This industry comprises establishments of U.S....

In [302]:
merged_industries = merged_industries.drop(columns=['Description_x', 'Description_y'])
merged_industries

,Code,Title,Sector,desc_code,Description
0,111,Crop Production,"Agriculture, Forestry, Fishing and Hunting",NaN,Industries in the Crop Production subsector gr...
1,1111,Oilseed and Grain Farming,"Agriculture, Forestry, Fishing and Hunting",NaN,This industry group comprises establishments p...
2,11111,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",111110,"Soybean farming, field and seed production"
3,111110,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",NaN,This industry comprises establishments primari...
4,11112,Oilseed (except Soybean) Farming,"Agriculture, Forestry, Fishing and Hunting",111120,"Canola farming, field and seed production,Flax..."
...,...,...,...,...,...
2171,9281,National Security and International Affairs,Public Administration,NaN,nan
2172,92811,National Security,Public Administration,928110,"Air Force,Air traffic control, military,Armed ..."
2173,928110,National Security,Public Administration,NaN,This industry comprises government establishme...
2174,92812,International Affairs,Public Administration,928120,"Consulates,Diplomatic services,Economic develo..."
2175,928120,International Affairs,Public Administration,NaN,This industry comprises establishments of U.S....

In [304]:
sectors = sectors.drop(columns='Description')
sectors

In [305]:
merged_industries_2 = merged_industries.merge(sectors, how='left', left_on='Sector', right_on='Title')
merged_industries_2

,Code_x,Title_x,Sector,desc_code,Description,Code_y,Title_y
0,111,Crop Production,"Agriculture, Forestry, Fishing and Hunting",NaN,Industries in the Crop Production subsector gr...,11,"Agriculture, Forestry, Fishing and Hunting"
1,1111,Oilseed and Grain Farming,"Agriculture, Forestry, Fishing and Hunting",NaN,This industry group comprises establishments p...,11,"Agriculture, Forestry, Fishing and Hunting"
2,11111,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",111110,"Soybean farming, field and seed production",11,"Agriculture, Forestry, Fishing and Hunting"
3,111110,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",NaN,This industry comprises establishments primari...,11,"Agriculture, Forestry, Fishing and Hunting"
4,11112,Oilseed (except Soybean) Farming,"Agriculture, Forestry, Fishing and Hunting",111120,"Canola farming, field and seed production,Flax...",11,"Agriculture, Forestry, Fishing and Hunting"
...,...,...,...,...,...,...,...
2171,9281,National Security and International Affairs,Public Administration,NaN,nan,92,Public Administration
2172,92811,National Security,Public Administration,928110,"Air Force,Air traffic control, military,Armed ...",92,Public Administration
2173,928110,National Security,Public Administration,NaN,This industry comprises government establishme...,92,Public Administration
2174,92812,International Affairs,Public Administration,928120,"Consulates,Diplomatic services,Economic develo...",92,Public Administration
2175,928120,International Affairs,Public Administration,NaN,This industry comprises establishments of U.S....,92,Public Administration

In [306]:
merged_industries_2 = merged_industries_2.drop(columns='Title_y')
merged_industries_2 = merged_industries_2.rename(columns={'Code_x': 'NAICS_code', 'Title_x': 'Title', 'desc_code': 'NAICS_desc_code', 'Code_y': 'NAICS_sector_code'})
merged_industries_2

,NAICS_code,Title,Sector,NAICS_desc_code,Description,NAICS_sector_code
0,111,Crop Production,"Agriculture, Forestry, Fishing and Hunting",NaN,Industries in the Crop Production subsector gr...,11
1,1111,Oilseed and Grain Farming,"Agriculture, Forestry, Fishing and Hunting",NaN,This industry group comprises establishments p...,11
2,11111,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",111110,"Soybean farming, field and seed production",11
3,111110,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",NaN,This industry comprises establishments primari...,11
4,11112,Oilseed (except Soybean) Farming,"Agriculture, Forestry, Fishing and Hunting",111120,"Canola farming, field and seed production,Flax...",11
...,...,...,...,...,...,...
2171,9281,National Security and International Affairs,Public Administration,NaN,nan,92
2172,92811,National Security,Public Administration,928110,"Air Force,Air traffic control, military,Armed ...",92
2173,928110,National Security,Public Administration,NaN,This industry comprises government establishme...,92
2174,92812,International Affairs,Public Administration,928120,"Consulates,Diplomatic services,Economic develo...",92
2175,928120,International Affairs,Public Administration,NaN,This industry comprises establishments of U.S....,92

In [307]:
merged_industries_2.to_csv('csv_files/2017_NAICS_industries.csv', index=False)