In [ ]:
from numerizer import numerize as rev_numerize
from numerize.numerize import numerize
# import locale
# locale.setlocale(locale.LC_ALL, 'en_US')  # Use '' for auto, or force e.g. to 'en_US.UTF-8'

In [ ]:
fl = numerize(2460000000)
print(fl)

In [ ]:
# cur_str = '$2.46T'
cur_str = '$2.46 Trillion'

num_strs = ['thousand', 'million', 'billion', 'trillion']
for x in num_strs:
    if x in cur_str.lower():
        str_num_1 = cur_str.lower().replace(x, '').replace(',','').replace('$','')
# str_num_1 = [cur_str.replace(x, '') for x in num_strs if x in cur_str.lower()]
print(str_num_1)
if str_num_1 == cur_str:
    str_num_1 = cur_str.replace('M', '').replace('B', '').replace('T', '').replace(',','').replace('$','')
print (str_num_1)
if 'm' in cur_str.lower():
    fl_num = float(str_num_1) * 1000000
elif 'b' in cur_str.lower():
    fl_num = float(str_num_1) * 1000000000
elif 'thousand' in cur_str.lower():
    fl_num = float(str_num_1) * 1000
elif ('T' in cur_str) or ('trillion' in cur_str.lower()):
    fl_num = float(str_num_1) * 1000000000000
print ("${0:,.2f}".format(fl_num))

In [ ]:
cur_fl = '$' + numerize(fl_num, 2)
print (cur_fl)

In [ ]:
type(cur_fl)

In [ ]:
def curr_str_to_float(cur_str, symbol='$'):
    '''Convert a currency string-formatted number into a float.'''

    num_strs = ['thousand', 'million', 'billion', 'trillion']
    for x in num_strs:
        if x in cur_str.lower():
            str_num_1 = cur_str.lower().replace(x, '').replace(',','').replace(symbol,'')
    # str_num_1 = [cur_str.replace(x, '') for x in num_strs if x in cur_str.lower()]
    if str_num_1 == cur_str:
        str_num_1 = cur_str.replace('M', '').replace('B', '').replace('T', '').replace(',','').replace(symbol,'')
    if 'm' in cur_str.lower():
        fl_num = float(str_num_1) * 1000000
    elif 'b' in cur_str.lower():
        fl_num = float(str_num_1) * 1000000000
    elif 'thousand' in cur_str.lower():
        fl_num = float(str_num_1) * 1000
    elif ('T' in cur_str) or ('trillion' in cur_str.lower()):
        fl_num = float(str_num_1) * 1000000000000
    # print ("${0:,.2f}".format(fl_num))
    return fl_num

In [ ]:
cur_str = '2.46 Trillion'

fl_num = curr_str_to_float(cur_str, symbol='$')
print ("{0:,.2f}".format(fl_num))

In [ ]:
import pandas as pd

In [ ]:
fx_codes = pd.read_csv('csv_files/ISO_4217_FX_Codes.csv')
fx_codes

In [ ]:
# fx_codes['Entity'][:270] = fx_codes['Entity'][:270].str.lower().str.title()
# fx_codes['Entity'][:270] = fx_codes['Entity'][:270].str.replace('Of', 'of').str.replace('And ', 'and ')
# fx_codes

In [ ]:
# fx_codes.tail(20)
# fx_codes = fx_codes.drop(columns='Unnamed: 0')

In [ ]:
# fx_codes.to_csv('csv_files/ISO_4217_FX_Codes.csv', index=False)

In [ ]:
fx_codes.tail(40)

In [ ]:
country = 'United States'

entity = fx_codes.loc[fx_codes['Entity'].str.contains(country, regex=False)]
entity

In [ ]:
for index, row in entity.iterrows():
    # print (index)
    new_currency = entity['Currency'][index]
    print (new_currency)
    new_ticker = entity['Ticker'][index]
    print (new_ticker)
    ISO_4217 = entity['ISO_4217'][index]
    print (ISO_4217)
    minor_unit = entity['Minor unit'][index]
    print (minor_unit)
    fund = entity['Fund'][index]
    print (fund)
    description = entity['Description'][index]
    print (description)

In [249]:
countries = pd.read_csv('csv_files/All_countries.csv')
countries.head()

          Country ISO_3166
0     Afghanistan       AF
1   Åland Islands       AX
2         Albania       AL
3         Algeria       DZ
4  American Samoa       AS

In [54]:
africa = pd.read_csv('csv_files/Africa.csv')
africa.head()

        Country
0       Algeria
1        Angola
2         Benin
3      Botswana
4  Burkina Faso

In [57]:
asia = pd.read_csv('csv_files/Asia.csv')
asia.head()

       Country
0  Afghanistan
1      Armenia
2   Azerbaijan
3      Bahrain
4   Bangladesh

In [58]:
europe = pd.read_csv('csv_files/Europe.csv')
europe.head()

      Country
0     Albania
1     Andorra
2     Armenia
3     Austria
4  Azerbaijan

In [59]:
north_america = pd.read_csv('csv_files/North_America.csv')
north_america.head()

               Country
0  Antigua and Barbuda
1              Bahamas
2             Barbados
3               Belize
4               Canada

In [67]:
oceania = pd.read_csv('csv_files/Oceania.csv')
oceania.head()

            Country
0         Australia
1              Fiji
2          Kiribati
3  Marshall Islands
4        Micronesia

In [61]:
south_america = pd.read_csv('csv_files/South_America.csv')
south_america.head()

     Country
0  Argentina
1    Bolivia
2     Brazil
3      Chile
4   Colombia

In [77]:
North_American_territories = pd.read_csv('csv_files/North_American_territories.csv')
North_American_territories.head()

                Territory         Country
0                Anguilla  United Kingdom
1                   Aruba     Netherlands
2                 Bermuda  United Kingdom
3                 Bonaire     Netherlands
4  British Virgin Islands  United Kingdom

In [78]:
Oceania_territories = pd.read_csv('csv_files/Oceania_territories.csv')
Oceania_territories.head()

          Territory                   Country
0    American Samoa  United States of America
1      Cook Islands               New Zealand
2  French Polynesia                    France
3              Guam  United States of America
4     New Caledonia                    France

In [79]:
South_American_territories = pd.read_csv('csv_files/South_American_territories.csv')
South_American_territories.head()

                                      Territory         Country
0                              Falkland Islands  United Kingdom
1                                 French Guinea          France
2  South Georgia and the South Sandwich Islands  United Kingdom

In [62]:
import numpy as np

In [73]:
countries['Continent'] = np.where(countries['Country'].isin(africa['Country']), 'Africa', '')
countries['Continent'] = np.where(countries['Country'].isin(asia['Country']), 'Asia', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(europe['Country']), 'Europe', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(north_america['Country']), 'North America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(south_america['Country']), 'South America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(North_American_territories['Territory']), 'North America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(South_American_territories['Territory']), 'South America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(Oceania_territories['Territory']), 'Oceania', countries['Continent'])
countries

               Country ISO_3166 Continent
0          Afghanistan       AF      Asia
1        Åland Islands       AX
2              Albania       AL    Europe
3              Algeria       DZ    Africa
4       American Samoa       AS   Oceania
..                 ...      ...       ...
244  Wallis and Futuna       WF   Oceania
245     Western Sahara       EH
246              Yemen       YE      Asia
247             Zambia       ZM    Africa
248           Zimbabwe       ZW    Africa

[249 rows x 3 columns]

In [74]:
countries['Continent'].value_counts()

                 74
Africa           47
Europe           45
Asia             33
North America    30
Oceania          10
South America    10
Name: Continent, dtype: int64

In [119]:
# countries.to_csv('csv_files/Country_data.csv', index=False)

In [250]:
countries = pd.read_csv('csv_files/Country_data.csv')
countries.head()

          Country ISO_3166 Continent  Territory Territory_of Region Econ_Group
0     Afghanistan       AF      Asia      False          NaN   EMEA        NaN
1   Åland Islands       AX    Europe      False          NaN   EMEA        NaN
2         Albania       AL    Europe      False          NaN   EMEA        NaN
3         Algeria       DZ    Africa      False          NaN   EMEA        NaN
4  American Samoa       AS   Oceania       True       France   APAC        NaN

In [97]:
for index, row in North_American_territories.iterrows():
    countries['Territory'] = np.where(countries['Country'].str.contains(North_American_territories['Territory'][index]), True, False)
    countries['Territory_of'] = np.where(countries['Country'].str.contains(North_American_territories['Territory'][index]), North_American_territories['Country'][index], '')
countries['Territory'] = np.where(countries['Country'].isin(North_American_territories['Territory']), True, False)
countries['Territory_of'] = np.where(countries['Country'].isin(North_American_territories['Territory']), North_American_territories['Country'][index], countries['Territory_of'])

countries['Territory'].value_counts()

False    241
True       8
Name: Territory, dtype: int64

In [98]:
for index, row in South_American_territories.iterrows():
    countries['Territory'] = np.where(countries['Country'].str.contains(South_American_territories['Territory'][index]), True, countries['Territory'])
    countries['Territory_of'] = np.where(countries['Country'].str.contains(South_American_territories['Territory'][index]), South_American_territories['Country'][index], '')
countries['Territory'] = np.where(countries['Country'].isin(South_American_territories['Territory']), True, countries['Territory'])
countries['Territory_of'] = np.where(countries['Country'].isin(South_American_territories['Territory']), South_American_territories['Country'][index], countries['Territory_of'])

countries['Territory'].value_counts()

False    239
True      10
Name: Territory, dtype: int64

In [99]:
for index, row in Oceania_territories.iterrows():
    countries['Territory'] = np.where(countries['Country'].str.contains(Oceania_territories['Territory'][index]), True, countries['Territory'])
    countries['Territory_of'] = np.where(countries['Country'].str.contains(Oceania_territories['Territory'][index]), Oceania_territories['Country'][index], '')
countries['Territory'] = np.where(countries['Country'].isin(Oceania_territories['Territory']), True, countries['Territory'])
countries['Territory_of'] = np.where(countries['Country'].isin(Oceania_territories['Territory']), Oceania_territories['Country'][index], countries['Territory_of'])

countries['Territory'].value_counts()

False    229
True      20
Name: Territory, dtype: int64

In [100]:
countries

               Country ISO_3166 Continent  Territory Territory_of
0          Afghanistan       AF      Asia      False
1        Åland Islands       AX    Europe      False
2              Albania       AL    Europe      False
3              Algeria       DZ    Africa      False
4       American Samoa       AS   Oceania       True       France
..                 ...      ...       ...        ...          ...
244  Wallis and Futuna       WF   Oceania       True       France
245     Western Sahara       EH    Africa      False
246              Yemen       YE      Asia      False
247             Zambia       ZM    Africa      False
248           Zimbabwe       ZW    Africa      False

[249 rows x 5 columns]

In [101]:
regions = pd.read_csv('csv_files/regions.csv')
regions

               Country ISO_3166 Region
0          Afghanistan       AF   EMEA
1        Åland Islands       AX   EMEA
2              Albania       AL   EMEA
3              Algeria       DZ   EMEA
4       American Samoa       AS   APAC
..                 ...      ...    ...
244  Wallis and Futuna       WF   APAC
245     Western Sahara       EH   EMEA
246              Yemen       YE   EMEA
247             Zambia       ZM   EMEA
248           Zimbabwe       ZW   EMEA

[249 rows x 3 columns]

In [102]:
countries['Region'] = np.where(countries['ISO_3166'].isin(regions['ISO_3166']), regions['Region'], '')
countries
# countries['Region'].value_counts()
# countries.loc[countries['Region'] == '']

               Country ISO_3166 Continent  Territory Territory_of Region
0          Afghanistan       AF      Asia      False                EMEA
1        Åland Islands       AX    Europe      False                EMEA
2              Albania       AL    Europe      False                EMEA
3              Algeria       DZ    Africa      False                EMEA
4       American Samoa       AS   Oceania       True       France   APAC
..                 ...      ...       ...        ...          ...    ...
244  Wallis and Futuna       WF   Oceania       True       France   APAC
245     Western Sahara       EH    Africa      False                EMEA
246              Yemen       YE      Asia      False                EMEA
247             Zambia       ZM    Africa      False                EMEA
248           Zimbabwe       ZW    Africa      False                EMEA

[249 rows x 6 columns]

In [123]:
eu = pd.read_csv('csv_files/EU.csv')
eu.head(8)

          Country
0         Austria
1         Belgium
2        Bulgaria
3         Croatia
4          Cyprus
5  Czech Republic
6         Denmark
7         Estonia

In [128]:
asean = pd.read_csv('csv_files/ASEAN.csv')
asean.head()

     Country
0     Brunei
1   Cambodia
2  Indonesia
3       Laos
4   Malaysia

In [109]:
g10 = pd.read_csv('csv_files/G10_countries.csv')
g10.head()

   Country
0  Belgium
1   Canada
2   France
3  Germany
4    Italy

In [218]:
g20 = pd.read_csv('csv_files/G20_countries.csv')
g20 = g20.drop_duplicates()
print (g20.count())
g20.head()

Country    43
dtype: int64

     Country
0  Argentina
1  Australia
2     Brazil
3     Canada
4      China

In [312]:
em = pd.read_csv('csv_files/EM_countries.csv')
em.head()

,IMF EM,BRICS & Next Eleven,FTSE EM,MSCI EM,S&P EM,EM Bond Index,Dow Jones EM,Russell EM,Columbia University EMGP,Cornell University EMI E20
0,Argentina,,,,,Argentina,,,Argentina,Argentina
1,Bangladesh,Bangladesh,,,,Bangladesh,,,,Bangladesh
2,Brazil,Brazil,Brazil,Brazil,Brazil,Brazil,Brazil,Brazil,Brazil,Brazil
3,Bulgaria,,,,,,,,,
4,Chile,,Chile,Chile,Chile,Chile,Chile,Chile,Chile,

In [251]:
countries = pd.read_csv('csv_files/Country_data.csv')
countries.head()

          Country ISO_3166 Continent  Territory Territory_of Region Econ_Group
0     Afghanistan       AF      Asia      False          NaN   EMEA        NaN
1   Åland Islands       AX    Europe      False          NaN   EMEA        NaN
2         Albania       AL    Europe      False          NaN   EMEA        NaN
3         Algeria       DZ    Africa      False          NaN   EMEA        NaN
4  American Samoa       AS   Oceania       True       France   APAC        NaN

In [252]:
for index, row in eu.iterrows():
    countries['Econ_Group'] = np.where(countries['Country'].str.contains(eu['Country'][index]), 'EU', '')

countries['Econ_Group'] = np.where(countries['Country'].isin(eu['Country']), 'EU', countries['Econ_Group'])
countries['Econ_Group'].value_counts()
# countries.loc[countries['Econ_Group'] == 'EU']

      222
EU     27
Name: Econ_Group, dtype: int64

In [253]:
for index, row in asean.iterrows():
    countries['Econ_Group'] = np.where(countries['Country'].str.contains(asean['Country'][index]), 'ASEAN', countries['Econ_Group'])

countries['Econ_Group'] = np.where(countries['Country'].isin(asean['Country']), 'ASEAN', countries['Econ_Group'])
print(countries['Econ_Group'].value_counts())
countries.loc[countries['Econ_Group'] == 'ASEAN']

         212
EU        27
ASEAN     10
Name: Econ_Group, dtype: int64

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group
33,Brunei Darussalam,BN,Asia,False,NaN,APAC,ASEAN
37,Cambodia,KH,Asia,False,NaN,APAC,ASEAN
103,Indonesia,ID,Asia,False,NaN,APAC,ASEAN
121,Laos,LA,Asia,False,NaN,APAC,ASEAN
134,Malaysia,MY,Asia,False,NaN,APAC,ASEAN
152,Myanmar (Burma),MM,Asia,False,NaN,APAC,ASEAN
174,Philippines,PH,Asia,False,NaN,APAC,ASEAN
199,Singapore,SG,Asia,False,NaN,APAC,ASEAN
220,Thailand,TH,Asia,False,NaN,APAC,ASEAN
241,Vietnam,VN,Asia,False,NaN,APAC,ASEAN

In [254]:
type(countries['Econ_Group'][10])

str

In [256]:
for index, row in g10.iterrows():
    countries['G10'] = np.where(countries['Country'].str.contains(g10['Country'][index]), True, False)

countries['G10'] = np.where(countries['Country'].isin(g10['Country']), True, countries['G10'])

countries['G10'] = np.where(countries['Country'].astype(str) == 'United States Minor Outlying Islands', False, countries['G10'])
print(countries['G10'].value_counts())
countries.loc[countries['G10'] == True]

False    238
True      11
Name: G10, dtype: int64

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group,G10
21,Belgium,BE,Europe,False,NaN,EMEA,EU,True
39,Canada,CA,North America,False,NaN,AMER,,True
75,France,FR,Europe,False,NaN,EMEA,EU,True
82,Germany,DE,Europe,False,NaN,EMEA,EU,True
109,Italy,IT,Europe,False,NaN,EMEA,EU,True
111,Japan,JP,Asia,False,NaN,APAC,,True
156,Netherlands,NL,Europe,False,NaN,EMEA,EU,True
214,Sweden,SE,Europe,False,NaN,EMEA,EU,True
215,Switzerland,CH,Europe,False,NaN,EMEA,,True
234,United Kingdom,GB,Europe,False,NaN,EMEA,,True
235,United States of America,US,North America,False,NaN,AMER,,True

In [257]:
for index, row in g20.iterrows():
    countries['G20'] = np.where(countries['Country'].str.contains(g20['Country'][index]), True, False)

countries['G20'] = np.where(countries['Country'].isin(g20['Country']), True, countries['G20'])

countries['G20'] = np.where(countries['Country'].astype(str) == 'United States Minor Outlying Islands', False, countries['G20'])
print(countries['G20'].value_counts())
# countries.loc[countries['G20'] == True]

False    206
True      43
Name: G20, dtype: int64

In [313]:
em_categories = []
for col in em.columns:
    em_categories.append(col)
em_categories

['IMF EM',
 'BRICS & Next Eleven',
 'FTSE EM',
 'MSCI EM',
 'S&P EM',
 'EM Bond Index',
 'Dow Jones EM',
 'Russell EM',
 'Columbia University EMGP',
 'Cornell University EMI E20']

In [315]:
for cat in em_categories:
    for index, row in em.iterrows():
        countries[cat] = np.where(countries['Country'].str.contains(em[cat][index]), True, False)

    countries[cat] = np.where(countries['Country'].isin(em[cat]), True, countries[cat])

    print(countries[cat].value_counts())

False    225
True      24
Name: IMF EM, dtype: int64
False    157
True      92
Name: BRICS & Next Eleven, dtype: int64
False    149
True     100
Name: FTSE EM, dtype: int64
False    150
True      99
Name: MSCI EM, dtype: int64
False    149
True     100
Name: S&P EM, dtype: int64
False    219
True      30
Name: EM Bond Index, dtype: int64
False    151
True      98
Name: Dow Jones EM, dtype: int64
False    154
True      95
Name: Russell EM, dtype: int64
False    154
True      95
Name: Columbia University EMGP, dtype: int64
False    154
True      95
Name: Cornell University EMI E20, dtype: int64

In [317]:
countries.head(10)

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group,G10,G20,IMF EM,BRICS & Next Eleven,FTSE EM,MSCI EM,S&P EM,EM Bond Index,Dow Jones EM,Russell EM,Columbia University EMGP,Cornell University EMI E20
0,Afghanistan,AF,Asia,False,NaN,EMEA,,False,False,False,False,False,False,False,False,False,False,False,False
1,Åland Islands,AX,Europe,False,NaN,EMEA,,False,False,False,True,True,True,True,False,True,True,True,True
2,Albania,AL,Europe,False,NaN,EMEA,,False,False,False,False,False,False,False,False,False,False,False,False
3,Algeria,DZ,Africa,False,NaN,EMEA,,False,False,False,False,False,False,False,False,False,False,False,False
4,American Samoa,AS,Oceania,True,France,APAC,,False,False,False,True,True,True,True,False,True,True,True,True
5,Andorra,AD,Europe,False,NaN,EMEA,,False,False,False,False,False,False,False,False,False,False,False,False
6,Angola,AO,Africa,False,NaN,EMEA,,False,False,False,False,False,False,False,False,False,False,False,False
7,Anguilla,AI,North America,True,NaN,AMER,,False,False,False,False,False,False,False,False,False,False,False,False
8,Antarctica,AQ,NaN,False,NaN,APAC,,False,False,False,False,False,False,False,False,False,False,False,False
9,Antigua and Barbuda,AG,North America,False,NaN,AMER,,False,False,False,True,True,True,True,False,True,True,True,True

In [157]:
# from ast import literal_eval
# literal_eval('[1.23, 2.34]')

[1.23, 2.34]

In [319]:
countries.to_csv('csv_files/Country_data.csv', index=False)