In [ ]:
from numerizer import numerize as rev_numerize
from numerize.numerize import numerize
# import locale
# locale.setlocale(locale.LC_ALL, 'en_US')  # Use '' for auto, or force e.g. to 'en_US.UTF-8'

In [2]:
flz = 'N/A'

def to_float(float_str):
    try:
        fl = float(float_str)
    except:
        fl = float("NaN")
    return fl

to_float(flz)

nan

In [ ]:
fl = numerize(2460000000)
print(fl)

In [ ]:
# cur_str = '$2.46T'
cur_str = '$2.46 Trillion'

num_strs = ['thousand', 'million', 'billion', 'trillion']
for x in num_strs:
    if x in cur_str.lower():
        str_num_1 = cur_str.lower().replace(x, '').replace(',','').replace('$','')
# str_num_1 = [cur_str.replace(x, '') for x in num_strs if x in cur_str.lower()]
print(str_num_1)
if str_num_1 == cur_str:
    str_num_1 = cur_str.replace('M', '').replace('B', '').replace('T', '').replace(',','').replace('$','')
print (str_num_1)
if 'm' in cur_str.lower():
    fl_num = float(str_num_1) * 1000000
elif 'b' in cur_str.lower():
    fl_num = float(str_num_1) * 1000000000
elif 'thousand' in cur_str.lower():
    fl_num = float(str_num_1) * 1000
elif ('T' in cur_str) or ('trillion' in cur_str.lower()):
    fl_num = float(str_num_1) * 1000000000000
print ("${0:,.2f}".format(fl_num))

In [ ]:
cur_fl = '$' + numerize(fl_num, 2)
print (cur_fl)

In [ ]:
type(cur_fl)

In [31]:
def curr_str_to_float(cur_str, symbol='$'):
    '''Convert a currency string-formatted number into a float.'''

    num_strs = ['thousand', 'million', 'billion', 'trillion']
    str_num_1 = None
    try:
        if not cur_str[0].isdigit():
            symbol = cur_str[0]
        for x in num_strs:
            if x in cur_str.lower():
                str_num_1 = cur_str.lower().replace(x, '').replace(',','').replace(symbol,'')
                # str_num_1 = [cur_str.replace(x, '') for x in num_strs if x in cur_str.lower()]
        if not str_num_1:
            str_num_1 = cur_str.replace('M', '').replace('B', '').replace('T', '').replace(',','').replace(symbol,'')
        if 'm' in cur_str.lower():
            fl_num = float(str_num_1) * 1000000
        elif 'b' in cur_str.lower():
            fl_num = float(str_num_1) * 1000000000
        elif 'thousand' in cur_str.lower():
            fl_num = float(str_num_1) * 1000
        elif ('T' in cur_str) or ('trillion' in cur_str.lower()):
            fl_num = float(str_num_1) * 1000000000000
        elif [i.isdigit() for i in str_num_1]:
            fl_num = float(str_num_1)
        else:
            fl_num = float("NaN")
        # print ("${0:,.2f}".format(fl_num))
    except:
        fl_num = float("NaN")
        print (fl_num)
    return fl_num

def curr_str_to_int(cur_str, symbol='$'):
    '''Convert a currency string-formatted number into a float.'''

    num_strs = ['thousand', 'million', 'billion', 'trillion']
    str_num_1 = None
    try:
        if not cur_str[0].isdigit():
            symbol = cur_str[0]
        for x in num_strs:
            if x in cur_str.lower():
                str_num_1 = cur_str.lower().replace(x, '').replace(',','').replace(symbol,'')
                # str_num_1 = [cur_str.replace(x, '') for x in num_strs if x in cur_str.lower()]
        if not str_num_1:
            str_num_1 = cur_str.replace('M', '').replace('B', '').replace('T', '').replace(',','').replace(symbol,'')
        if 'm' in cur_str.lower():
            fl_num = float(str_num_1) * 1000000
        elif 'b' in cur_str.lower():
            fl_num = float(str_num_1) * 1000000000
        elif 'thousand' in cur_str.lower():
            fl_num = float(str_num_1) * 1000
        elif ('T' in cur_str) or ('trillion' in cur_str.lower()):
            fl_num = float(str_num_1) * 1000000000000
        elif [i.isdigit() for i in str_num_1]:
            fl_num = float(str_num_1)
        else:
            fl_num = None
        # print ("${0:,.2f}".format(fl_num))
    except:
        fl_num = None
        print (fl_num)
    return fl_num

In [32]:
# cur_str = '2.46 Trillion'
# cur_str = '7.59M'
# cur_str = 'N/A'
# cur_str = '¥86.13B'
cur_str = '$39.00'

fl_num = curr_str_to_float(cur_str, symbol='$')
print ("{0:,.2f}".format(fl_num))

39.00

In [14]:
cur_str = '39.00'

for i in cur_str:
    if i.isdigit():
        print (i)

if [i.isdigit() for i in cur_str]:
    print (cur_str)
# if [cur_str[i].isdigit() for i in cur_str]:
#     print (cur_str)

3
9
0
0
39.00

In [4]:
if not cur_str[0].isdigit():
    print (cur_str[0])

¥

In [30]:
# cur_str = '$7.59M'

iteg = curr_str_to_int(cur_str)
print (type(iteg))

<class 'float'>

In [ ]:
import pandas as pd

In [ ]:
fx_codes = pd.read_csv('csv_files/ISO_4217_FX_Codes.csv')
fx_codes

In [ ]:
# fx_codes['Entity'][:270] = fx_codes['Entity'][:270].str.lower().str.title()
# fx_codes['Entity'][:270] = fx_codes['Entity'][:270].str.replace('Of', 'of').str.replace('And ', 'and ')
# fx_codes

In [ ]:
# fx_codes.tail(20)
# fx_codes = fx_codes.drop(columns='Unnamed: 0')

In [ ]:
# fx_codes.to_csv('csv_files/ISO_4217_FX_Codes.csv', index=False)

In [ ]:
fx_codes.tail(40)

In [ ]:
country = 'United States'

entity = fx_codes.loc[fx_codes['Entity'].str.contains(country, regex=False)]
entity

In [ ]:
for index, row in entity.iterrows():
    # print (index)
    new_currency = entity['Currency'][index]
    print (new_currency)
    new_ticker = entity['Ticker'][index]
    print (new_ticker)
    ISO_4217 = entity['ISO_4217'][index]
    print (ISO_4217)
    minor_unit = entity['Minor unit'][index]
    print (minor_unit)
    fund = entity['Fund'][index]
    print (fund)
    description = entity['Description'][index]
    print (description)

In [ ]:
countries = pd.read_csv('csv_files/All_countries.csv')
countries.head()

In [ ]:
africa = pd.read_csv('csv_files/Africa.csv')
africa.head()

In [ ]:
asia = pd.read_csv('csv_files/Asia.csv')
asia.head()

In [ ]:
europe = pd.read_csv('csv_files/Europe.csv')
europe.head()

In [ ]:
north_america = pd.read_csv('csv_files/North_America.csv')
north_america.head()

In [ ]:
oceania = pd.read_csv('csv_files/Oceania.csv')
oceania.head()

In [ ]:
south_america = pd.read_csv('csv_files/South_America.csv')
south_america.head()

In [ ]:
North_American_territories = pd.read_csv('csv_files/North_American_territories.csv')
North_American_territories.head()

In [ ]:
Oceania_territories = pd.read_csv('csv_files/Oceania_territories.csv')
Oceania_territories.head()

In [ ]:
South_American_territories = pd.read_csv('csv_files/South_American_territories.csv')
South_American_territories.head()

In [ ]:
import numpy as np

In [ ]:
countries['Continent'] = np.where(countries['Country'].isin(africa['Country']), 'Africa', '')
countries['Continent'] = np.where(countries['Country'].isin(asia['Country']), 'Asia', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(europe['Country']), 'Europe', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(north_america['Country']), 'North America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(south_america['Country']), 'South America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(North_American_territories['Territory']), 'North America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(South_American_territories['Territory']), 'South America', countries['Continent'])
countries['Continent'] = np.where(countries['Country'].isin(Oceania_territories['Territory']), 'Oceania', countries['Continent'])
countries

In [ ]:
countries['Continent'].value_counts()

In [ ]:
# countries.to_csv('csv_files/Country_data.csv', index=False)

In [ ]:
countries = pd.read_csv('csv_files/Country_data.csv')
countries.head()

In [ ]:
for index, row in North_American_territories.iterrows():
    countries['Territory'] = np.where(countries['Country'].str.contains(North_American_territories['Territory'][index]), True, False)
    countries['Territory_of'] = np.where(countries['Country'].str.contains(North_American_territories['Territory'][index]), North_American_territories['Country'][index], '')
countries['Territory'] = np.where(countries['Country'].isin(North_American_territories['Territory']), True, False)
countries['Territory_of'] = np.where(countries['Country'].isin(North_American_territories['Territory']), North_American_territories['Country'][index], countries['Territory_of'])

countries['Territory'].value_counts()

In [ ]:
for index, row in South_American_territories.iterrows():
    countries['Territory'] = np.where(countries['Country'].str.contains(South_American_territories['Territory'][index]), True, countries['Territory'])
    countries['Territory_of'] = np.where(countries['Country'].str.contains(South_American_territories['Territory'][index]), South_American_territories['Country'][index], '')
countries['Territory'] = np.where(countries['Country'].isin(South_American_territories['Territory']), True, countries['Territory'])
countries['Territory_of'] = np.where(countries['Country'].isin(South_American_territories['Territory']), South_American_territories['Country'][index], countries['Territory_of'])

countries['Territory'].value_counts()

In [ ]:
for index, row in Oceania_territories.iterrows():
    countries['Territory'] = np.where(countries['Country'].str.contains(Oceania_territories['Territory'][index]), True, countries['Territory'])
    countries['Territory_of'] = np.where(countries['Country'].str.contains(Oceania_territories['Territory'][index]), Oceania_territories['Country'][index], '')
countries['Territory'] = np.where(countries['Country'].isin(Oceania_territories['Territory']), True, countries['Territory'])
countries['Territory_of'] = np.where(countries['Country'].isin(Oceania_territories['Territory']), Oceania_territories['Country'][index], countries['Territory_of'])

countries['Territory'].value_counts()

In [ ]:
countries

In [ ]:
regions = pd.read_csv('csv_files/regions.csv')
regions

In [ ]:
countries['Region'] = np.where(countries['ISO_3166'].isin(regions['ISO_3166']), regions['Region'], '')
countries
# countries['Region'].value_counts()
# countries.loc[countries['Region'] == '']

In [ ]:
eu = pd.read_csv('csv_files/EU.csv')
eu.head(8)

In [ ]:
asean = pd.read_csv('csv_files/ASEAN.csv')
asean.head()

In [ ]:
g10 = pd.read_csv('csv_files/G10_countries.csv')
g10.head()

In [ ]:
g20 = pd.read_csv('csv_files/G20_countries.csv')
g20 = g20.drop_duplicates()
print (g20.count())
g20.head()

In [ ]:
em = pd.read_csv('csv_files/EM_countries.csv')
em.head()

In [ ]:
countries = pd.read_csv('csv_files/Country_data.csv')
countries.head()

In [ ]:
for index, row in eu.iterrows():
    countries['Econ_Group'] = np.where(countries['Country'].str.contains(eu['Country'][index]), 'EU', '')

countries['Econ_Group'] = np.where(countries['Country'].isin(eu['Country']), 'EU', countries['Econ_Group'])
countries['Econ_Group'].value_counts()
# countries.loc[countries['Econ_Group'] == 'EU']

In [ ]:
for index, row in asean.iterrows():
    countries['Econ_Group'] = np.where(countries['Country'].str.contains(asean['Country'][index]), 'ASEAN', countries['Econ_Group'])

countries['Econ_Group'] = np.where(countries['Country'].isin(asean['Country']), 'ASEAN', countries['Econ_Group'])
print(countries['Econ_Group'].value_counts())
countries.loc[countries['Econ_Group'] == 'ASEAN']

In [ ]:
type(countries['Econ_Group'][10])

In [ ]:
for index, row in g10.iterrows():
    countries['G10'] = np.where(countries['Country'].str.contains(g10['Country'][index]), True, False)

countries['G10'] = np.where(countries['Country'].isin(g10['Country']), True, countries['G10'])

countries['G10'] = np.where(countries['Country'].astype(str) == 'United States Minor Outlying Islands', False, countries['G10'])
print(countries['G10'].value_counts())
countries.loc[countries['G10'] == True]

In [ ]:
for index, row in g20.iterrows():
    countries['G20'] = np.where(countries['Country'].str.contains(g20['Country'][index]), True, False)

countries['G20'] = np.where(countries['Country'].isin(g20['Country']), True, countries['G20'])

countries['G20'] = np.where(countries['Country'].astype(str) == 'United States Minor Outlying Islands', False, countries['G20'])
print(countries['G20'].value_counts())
# countries.loc[countries['G20'] == True]

In [ ]:
countries = pd.read_csv('csv_files/Country_data.csv')
countries = countries.iloc[:,:9]
countries

em = pd.read_csv('csv_files/EM_countries.csv')
em.tail()

em_categories = []
for col in em.columns:
    em_categories.append(col)
em_categories

for cat in em_categories:
    countries[cat] = False
    for index, value in em[cat].iteritems():
        for c_index, c_value in countries.iterrows():
            # countries['IMF EM_1'][c_index] = np.where(countries['Country'][c_index].__contains__(em['IMF EM'][index]), True, countries['IMF EM_1'][c_index])
            countries[cat][c_index] = np.where(countries['Country'][c_index].split(',')[0] in (em[cat][index]), True, countries[cat][c_index])

countries

In [ ]:
countries.loc[countries['Country'] == 'Niger', 'BRICS & Next Eleven'] = countries.loc[countries['Country'] == 'Niger', 'BRICS & Next Eleven'].replace(True, False)
countries.loc[countries['Country'] == 'Niger', 'EM Bond Index'] = countries.loc[countries['Country'] == 'Niger', 'EM Bond Index'].replace(True, False)
countries.loc[countries['Country'] == 'Niger', 'Cornell University EMI E20'] = countries.loc[countries['Country'] == 'Niger', 'Cornell University EMI E20'].replace(True, False)

In [ ]:
for cat in em_categories:
    print(countries[cat].value_counts())
    countries.loc[countries[cat] == True]

for cat in em_categories:
    print(em[cat].replace(r'^\s*$', np.nan, regex=True).count())

In [ ]:
# countries.loc[countries['BRICS & Next Eleven'] == True]
# countries.loc[countries['EM Bond Index'] == True]
# countries.loc[countries['Cornell University EMI E20'] == True]

# countries.to_csv('csv_files/Country_data.csv', index=False)

In [ ]:
# from ast import literal_eval
# literal_eval('[1.23, 2.34]')

In [ ]:
# countries.to_csv('csv_files/Country_data.csv', index=False)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
countries = pd.read_csv('csv_files/Country_data.csv')
countries.head()

In [ ]:
for i in ['G10', 'G20']:
    em_categories.append(i)
em_categories

In [ ]:
countries['Geopol_group'] = ""
for index, row in countries.iterrows():
    # countries['Geopol_group'][index] = []
    # for label, content in countries.items():
    for col in countries[em_categories]:
        colserObj = countries[col]
        countries[f'{col}_1'] = np.where(colserObj.values == True, col, '')

In [ ]:
countries.iloc[100:,20:]

In [ ]:
countries['Geopol_group'] = countries[countries.columns[20:]].apply(lambda x: ','.join(x.dropna().astype(str)), axis=1)
countries['Geopol_group']

In [ ]:
em_categories_1 = []
for col in countries[em_categories]:
    em_categories_1.append(f'{col}_1')
em_categories_1

In [ ]:
countries_1 = countries.drop(columns=em_categories).drop(columns=em_categories_1)
countries_1

In [ ]:
countries_1['Geopol_group'] = countries_1['Geopol_group'].str.strip(',').str.replace(',,,,,,,', ',').str.replace(',,,,,,', ',').str.replace(',,,,,', ',').str.replace(',,,,', ',').str.replace(',,,', ',').str.replace(',,', ',')
countries_1

In [ ]:
# countries_1['Geopol_group'].value_counts()

In [ ]:
# countries_1.to_csv('csv_files/country_dataset.csv', index=False)

## Code for Pipeline

In [2]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz

In [3]:
countries_df = pd.read_csv('csv_files/country_dataset.csv')

In [4]:
# country = 'U.S.'
# country = 'United States'
# country = 'Gurmeny'
country = 'Russia'
# country_index = pd.Series(dtype='object')
country_row = pd.Series(dtype='object')
country_str = country.replace('.', '')
if len(country_str) < 5:
    country_row = countries_df.loc[countries_df['ISO_3166'].astype(str) == (country_str)]
if len(country_row) == 0:
    country_row = countries_df.loc[countries_df['Country'].str.contains(country)]
    country_row

country_row

,Country,ISO_3166,Continent,Territory,Territory_of,Region,Econ_Group,Geopol_group
182,Russia,RU,Europe,False,NaN,EMEA,NaN,"IMF EM,BRICS & Next Eleven,FTSE EM,MSCI EM,S&P..."

In [ ]:
# https://www.datacamp.com/community/tutorials/fuzzy-string-python

if len(country_row) > 1:
    # Ratios = process.extract(country,country_row['Country'])
    # print(Ratios)
    highest = process.extractOne(country,country_row['Country'])
    # print(highest)
    country_row = country_row.loc[country_row['Country'].str.contains(highest[0])]
country_row

In [ ]:
if len(country_row) == 0:
    # highest = process.extractOne(country,countries_df['Country']) # scorer=fuzz.token_set_ratio
    highest = process.extractOne(country,countries_df['Country'], scorer=fuzz.token_set_ratio)
    print("WARNING : Using fuzzy logic to predict country:", highest[0])
    country_row = countries_df.loc[countries_df['Country'].str.contains(highest[0])]
country_row

In [ ]:
ISO_3166 = country_row['ISO_3166'].values[0]
ISO_3166
Continent = country_row['Continent'].values[0]
Continent
Territory = country_row['Territory'].values[0]
Territory
Territory_of = country_row['Territory_of'].values[0]
Territory_of
Region = country_row['Region'].values[0]
Region
Econ_Group = country_row['Econ_Group'].values[0]
Econ_Group
Geopol_group = country_row['Geopol_group'].values[0]
Geopol_group

## Industry Data

In [ ]:
NAICS= pd.read_excel('csv_files/2017_NAICS_Descriptions.xlsx', dtype={'Description': int, 'Title': str, 'Description': str, 'Sector': str})
NAICS

In [ ]:
NAICS['Title'] = NAICS['Title'].str.rstrip().str.rstrip('T')
NAICS

In [ ]:
sectors = NAICS.loc[NAICS['Description'].str.strip().str.startswith('The Sector as a Whole', na=False)]
sectors = sectors.drop(columns='Sector')
sectors['Description'] = sectors['Description'].str.replace('The Sector as a Whole\n\n', '').str.strip()
sectors

In [ ]:
# sectors.to_csv('csv_files/NAICS17_sectors.csv', index=False)

In [ ]:
NAICS_desc = pd.read_excel('csv_files/2017_NAICS_Index_File.xlsx')
NAICS_desc

In [ ]:
no_descs = NAICS.loc[NAICS['Description'].str.strip().str.startswith('See industry description for', na=False)].copy()
no_descs

In [ ]:
import re

In [ ]:
no_descs['desc_code'] = no_descs['Description'].astype(str).apply(lambda x: re.findall(r'\d+', x))
no_descs['desc_code'] = no_descs['desc_code'].str[0]
no_descs

In [ ]:
NAICS_desc = NAICS_desc.groupby(['NAICS17'])['INDEX ITEM DESCRIPTION'].apply(','.join).reset_index()
NAICS_desc

In [ ]:
NAICS_desc = NAICS_desc.loc[NAICS_desc['NAICS17'] != '******']
NAICS_desc = NAICS_desc.rename(columns= {'NAICS17': 'desc_code'})
NAICS_desc['INDEX ITEM DESCRIPTION'] = NAICS_desc['INDEX ITEM DESCRIPTION'].astype(str)
NAICS_desc.tail()

In [ ]:
no_descs.reset_index(inplace=True, drop=True)
# no_descs = no_descs.drop(columns = ['level_0', 'index'])
no_descs

In [ ]:
no_descs['desc_code'] = no_descs['desc_code'].astype(int)

In [ ]:
merged_df = no_descs.merge(NAICS_desc, how='left', left_on='desc_code', right_on='desc_code')

In [ ]:
merged_df

In [ ]:
merged_df = merged_df.drop(columns='Description')
merged_df = merged_df.rename(columns={'INDEX ITEM DESCRIPTION': 'Description'})
merged_df

In [ ]:
NAICS

In [ ]:
industries = NAICS.loc[~NAICS['Description'].str.strip().str.startswith('The Sector as a Whole', na=False)]
industries

In [ ]:
merged_industries = industries.merge(merged_df, how='left', left_on=['Code', 'Title', 'Sector'], right_on=['Code', 'Title', 'Sector'])
merged_industries

In [ ]:
print(type(merged_industries['Description_y'][5]))

In [ ]:
merged_industries['Description'] = ""
for index, value in merged_industries['Description_y'].iteritems():
    merged_industries['Description'][index] = np.where(type(merged_industries['Description_y'][index]) is not type(float), merged_industries['Description_y'][index], merged_industries['Description_x'][index])
merged_industries

In [ ]:
merged_industries['Description'][1]

In [ ]:
for index, value in merged_industries['Description_y'].iteritems():
    merged_industries['Description'][index] = np.where(merged_industries['Description'][index] == 'nan', merged_industries['Description_x'][index], merged_industries['Description'][index])
merged_industries

In [ ]:
merged_industries = merged_industries.drop(columns=['Description_x', 'Description_y'])
merged_industries

In [ ]:
sectors = sectors.drop(columns='Description')
sectors

In [ ]:
merged_industries_2 = merged_industries.merge(sectors, how='left', left_on='Sector', right_on='Title')
merged_industries_2

In [ ]:
merged_industries_2 = merged_industries_2.drop(columns='Title_y')
merged_industries_2 = merged_industries_2.rename(columns={'Code_x': 'NAICS_code', 'Title_x': 'Title', 'desc_code': 'NAICS_desc_code', 'Code_y': 'NAICS_sector_code'})
merged_industries_2

In [ ]:
merged_industries_2.to_csv('csv_files/2017_NAICS_industries.csv', index=False)

In [11]:
# name = "United States Treasury 3-Year Note 0.250% Apr 15, 2023 (912828ZH65)"
# name = "U.K. 1 Year Gilt (TMBMKGB-01Y)"
name = "U.S. 1 Month Treasury Bill (TMUBMUSD01M)"

In [5]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz

def extract_bond_country(name):
    countries_df = pd.read_csv('csv_files/country_dataset.csv')
    name_str = name.strip().split()
    if name_str[0] == 'U.K.':
        country_name = 'United Kingdom'
    elif name_str[0] == 'U.S.':
        country_name = 'United States of America'
    else:
        test_str = name_str[0] +' '+ name_str[1]
        print(test_str)
        highest = process.extractOne(test_str,countries_df['Country'], scorer=fuzz.token_set_ratio)
        print(highest[0])
        country_name = countries_df.loc[countries_df['Country'].str.contains(highest[0])]['Country'].values[0]
    return country_name

In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import logging
import warnings
warnings.filterwarnings('ignore')
from TickerScrape.models import Currency, Country

In [2]:
CONNECTION_STRING = 'sqlite:///sqlite_files/TickerScrape.db'

def db_sesh(uri):
    engine = create_engine(uri)
    Session = sessionmaker(bind=engine)
    # Session.configure(bind=engine)
    logging.info("****_GET_Pipeline: database connected****")

    return Session

In [4]:
country = Country()
countr_name = "United States"
exist_country = None

Session = db_sesh(CONNECTION_STRING)

with Session() as session:
    if exist_country is None:
        fx_codes = pd.read_csv('csv_files/ISO_4217_FX_Codes.csv')
        entity = pd.Series(dtype='object')
        # entity = fx_codes.loc[fx_codes['Entity'].str.contains(
        #     countr_name, regex=False)]
        highest = process.extractOne(countr_name,fx_codes['Entity'], scorer=fuzz.token_set_ratio)
        print(highest[0])
        entity = fx_codes.loc[fx_codes['Entity'].astype(str) == highest[0]]
        print (entity)
        if not entity.empty:
            for index, row in entity.iterrows():
                match_currency = entity['Currency'][index]
                exist_currency = session.query(Currency).filter_by(
                    name=match_currency).first()
                if exist_currency is None:
                    currency = Currency(name=match_currency)
                    match_ticker = entity['Ticker'][index]
                    if match_ticker:
                        currency.ticker = match_ticker
                    # if "fx_symbol" in item:
                    #     currency.fx_symbol = item["fx_symbol"]
                    ISO_4217 = entity['ISO_4217'][index]
                    if ISO_4217:
                        print ("ISO_4217", ISO_4217)
                        currency.ISO_4217 = ISO_4217
                    minor_unit = entity['Minor_unit'][index]
                    if minor_unit:
                        currency.minor_unit = minor_unit
                    fund = entity['Fund'][index]
                    if fund == 'TRUE':
                        fund = True
                        currency.fund = fund
                    description = entity['Description'][index]
                    if description:
                        currency.description = description
                else:
                    currency = exist_currency
                if currency:
                    country.currencies.append(currency)
            session.commit()
            session.close()

United States of America (The)
                             Entity              Currency Ticker  ISO_4217  \
252  United States of America (The)             US Dollar    USD     840.0
253  United States of America (The)  US Dollar (Next day)    USN     997.0

     Minor_unit  Fund                                        Description
252         2.0   NaN                                                NaN
253         2.0  True   ”Next day“ funds are immediately available fo...
ISO_4217 840.0
ISO_4217 997.0

In [4]:
entity

,Entity,Currency,Ticker,ISO_4217,Minor_unit,Fund,Description
252,United States of America (The),US Dollar,USD,840.0,2.0,NaN,NaN
253,United States of America (The),US Dollar (Next day),USN,997.0,2.0,True,”Next day“ funds are immediately available fo...

In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz

In [168]:
fx_codes = pd.read_csv('csv_files/ISO_4217_FX_Codes.csv')

In [169]:
fx_codes

,Entity,Currency,Ticker,ISO_4217,Minor_unit,Fund,Description
0,Afghanistan,Afghani,AFN,971.0,2.0,NaN,NaN
1,Åland Islands,Euro,EUR,978.0,2.0,NaN,NaN
2,Albania,Lek,ALL,8.0,2.0,NaN,NaN
3,Algeria,Algerian Dinar,DZD,12.0,2.0,NaN,NaN
4,American Samoa,US Dollar,USD,840.0,2.0,NaN,NaN
...,...,...,...,...,...,...,...
274,ZZ07_No_Currency,The codes assigned for transactions where no c...,XXX,999.0,NaN,NaN,NaN
275,ZZ08_Gold,Gold,XAU,959.0,NaN,NaN,NaN
276,ZZ09_Palladium,Palladium,XPD,964.0,NaN,NaN,NaN
277,ZZ10_Platinum,Platinum,XPT,962.0,NaN,NaN,NaN
278,ZZ11_Silver,Silver,XAG,961.0,NaN,NaN,NaN

In [170]:
fx_symbols = pd.read_csv("csv_files/currency-symbols.csv")
fx_symbols

    _code _unicode-decimal _unicode-hex               __text  symbol
0     ALL     76, 101, 107   4c, 65, 6b          Albania Lek     NaN
1     AFN             1547          60b  Afghanistan Afghani     NaN
2     ARS               36           24       Argentina Peso     NaN
3     AWG              402          192        Aruba Guilder     NaN
4     AUD               36           24     Australia Dollar     NaN
..    ...              ...          ...                  ...     ...
108   UZS       1083, 1074     43b, 432       Uzbekistan Som     NaN
109   VEF          66, 115       42, 73    Venezuela Bolivar     NaN
110   VND             8363         20ab        Viet Nam Dong     NaN
111   YER            65020         fdfc           Yemen Rial     NaN
112   ZWD           90, 36       5a, 24      Zimbabwe Dollar     NaN

[113 rows x 5 columns]

In [171]:
str_dec = "8378"

In [172]:
nums = str_dec.split(', ')
print(nums)
ascii = "".join(chr(int(x)) for x in nums)
print(ascii)

['8378']
₺

In [177]:
for index, val in fx_symbols['_unicode-decimal'].iteritems():
    try:
        nums = str(val).split(', ')
    except Exception as e:
        print(f'error getting: {val} #{e}')
    # print(nums)
    ascii = "".join(chr(int(x)) for x in nums)
    # print(ascii)
    fx_symbols['Symbol'][index] = ascii

/var/folders/_g/18qnvwy1001_g1m79rrlhjn00000gn/T/ipykernel_44217/523949612.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fx_symbols['Symbol'][index] = ascii

In [183]:
# fx_symbols['Symbol'].value_counts()
fx_symbols = fx_symbols.drop(columns='symbol')

In [185]:
# fx_symbols.to_csv('csv_files/fx_symbols.csv', index=False)

In [184]:
fx_symbols

    _code _unicode-decimal _unicode-hex               __text Symbol
0     ALL     76, 101, 107   4c, 65, 6b          Albania Lek    Lek
1     AFN             1547          60b  Afghanistan Afghani      ؋
2     ARS               36           24       Argentina Peso      $
3     AWG              402          192        Aruba Guilder      ƒ
4     AUD               36           24     Australia Dollar      $
..    ...              ...          ...                  ...    ...
108   UZS       1083, 1074     43b, 432       Uzbekistan Som     лв
109   VEF          66, 115       42, 73    Venezuela Bolivar     Bs
110   VND             8363         20ab        Viet Nam Dong      ₫
111   YER            65020         fdfc           Yemen Rial      ﷼
112   ZWD           90, 36       5a, 24      Zimbabwe Dollar     Z$

[113 rows x 5 columns]

In [186]:
symbs = fx_symbols.drop(columns=['_unicode-decimal', '_unicode-hex'])
symbs

    _code               __text Symbol
0     ALL          Albania Lek    Lek
1     AFN  Afghanistan Afghani      ؋
2     ARS       Argentina Peso      $
3     AWG        Aruba Guilder      ƒ
4     AUD     Australia Dollar      $
..    ...                  ...    ...
108   UZS       Uzbekistan Som     лв
109   VEF    Venezuela Bolivar     Bs
110   VND        Viet Nam Dong      ₫
111   YER           Yemen Rial      ﷼
112   ZWD      Zimbabwe Dollar     Z$

[113 rows x 3 columns]

In [187]:
mer_fx_codes = fx_codes.merge(symbs, how='left', left_on='Ticker', right_on='_code')

In [188]:
mer_fx_codes

,Entity,Currency,Ticker,ISO_4217,Minor_unit,Fund,Description,_code,__text,Symbol
0,Afghanistan,Afghani,AFN,971.0,2.0,NaN,NaN,AFN,Afghanistan Afghani,؋
1,Åland Islands,Euro,EUR,978.0,2.0,NaN,NaN,EUR,Euro Member Countries,€
2,Albania,Lek,ALL,8.0,2.0,NaN,NaN,ALL,Albania Lek,Lek
3,Algeria,Algerian Dinar,DZD,12.0,2.0,NaN,NaN,NaN,NaN,NaN
4,American Samoa,US Dollar,USD,840.0,2.0,NaN,NaN,USD,United States Dollar,$
...,...,...,...,...,...,...,...,...,...,...
274,ZZ07_No_Currency,The codes assigned for transactions where no c...,XXX,999.0,NaN,NaN,NaN,NaN,NaN,NaN
275,ZZ08_Gold,Gold,XAU,959.0,NaN,NaN,NaN,NaN,NaN,NaN
276,ZZ09_Palladium,Palladium,XPD,964.0,NaN,NaN,NaN,NaN,NaN,NaN
277,ZZ10_Platinum,Platinum,XPT,962.0,NaN,NaN,NaN,NaN,NaN,NaN
278,ZZ11_Silver,Silver,XAG,961.0,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
mer_fx_codes['Symbol'].value_counts()

$       59
€       35
£       10
kr       8
﷼        5
₨        5
лв       4
R        3
ƒ        3
₹        2
₩        2
CHF      2
¥        2
₱        2
₮        1
MT       1
C$       1
₦        1
B/.      1
Gs       1
؋        1
S/.      1
zł       1
RM       1
руб      1
Дин.     1
S        1
NT$      1
฿        1
TT$      1
₺        1
₴        1
$U       1
lei      1
₪        1
ден      1
₭        1
Lek      1
ман      1
BZ$      1
$b       1
KM       1
P        1
R$       1
៛        1
₡        1
kn       1
Kč       1
RD$      1
Q        1
L        1
Ft       1
Rp       1
J$       1
₫        1
Name: Symbol, dtype: int64

In [201]:
(symbs.loc[symbs['Symbol'] == '€'].value_counts())

_code  __text                 Symbol
EUR    Euro Member Countries  €         1
dtype: int64

Series([], dtype: int64)

In [217]:
(mer_fx_codes.loc[mer_fx_codes['Ticker'] == 'INR'])

,Entity,Currency,Ticker,ISO_4217,Minor_unit,Fund,Description,_code,__text,Symbol
24,Bhutan,Indian Rupee,INR,356.0,2.0,NaN,NaN,INR,India Rupee,₹
110,India,Indian Rupee,INR,356.0,2.0,NaN,NaN,INR,India Rupee,₹

In [208]:
mer_fx_codes.iloc[1]['Symbol']

'€'

In [218]:
# mer_fx_codes.to_csv('csv_files/ISO_4217_FX_Codes.csv', index=False)